<table mat-table #sortTab = 'matSort' [dataSource]="matTableDataSource" class="table-responsive" matSort>
    <ng-container matColumnDef="srNo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Sr. No.</th>
        <td mat-cell *matCellDef="let element; let i = index;">
            {{ i + 1 }} </td>
        <td mat-footer-cell *matFooterCellDef [attr.colspan]="matTableColumn && matTableColumn.length" class="centerAlign">
            <span *ngIf="matTableDataSource && matTableDataSource.data && matTableDataSource.data.length == 0">
                No Data Available!
            </span>
        </td>
    </ng-container>

    <ng-container matColumnDef="transacNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Transaction Number
        </th>
        <td mat-cell *matCellDef="let element"> {{element.trnNo}} </td>
    </ng-container>

    <ng-container matColumnDef="eventName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Event Name</th>
        <td mat-cell *matCellDef="let element"> {{element.eventName}} </td>
    </ng-container>

    <ng-container matColumnDef="eventDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="w-6">Event Effective date
        </th>
        <td mat-cell *matCellDef="let element"> {{element.eventDate | date : 'dd-MM-yyyy'}} </td>
    </ng-container>

    <ng-container matColumnDef="payScaleValue">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Pay Scale</th>
        <td mat-cell *matCellDef="let element"> {{element.payScalePayBand}} </td>
    </ng-container>

    <ng-container matColumnDef="payBandDisValue">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Pay Band</th>
        <td mat-cell *matCellDef="let element"> {{element.payScalePayBand}} </td>
    </ng-container>

    <ng-container matColumnDef="payBandValue">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Pay Band Value</th>
        <td mat-cell *matCellDef="let element"> {{element.payBandValueCellId}} </td>
    </ng-container>

    <ng-container matColumnDef="gradePayValue">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Grade Pay
        </th>
        <td mat-cell *matCellDef="let element"> {{element.gradePayPayLevel}} </td>
    </ng-container>

    <ng-container matColumnDef="payLevelValue">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Pay Level
        </th>
        <td mat-cell *matCellDef="let element"> {{element.gradePayPayLevel}} </td>
    </ng-container>

    <ng-container matColumnDef="cellIdVal">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Cell Id
        </th>
        <td mat-cell *matCellDef="let element"> {{element.payBandValueCellId}} </td>
    </ng-container>

    <ng-container matColumnDef="empBasicPay">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Basic Pay</th>
        <td mat-cell *matCellDef="let element"> {{element.basicPay}} </td>
    </ng-container>

    <ng-container matColumnDef="dateOfNextIncrement">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="w-6">Date of Next Increment</th>
        <td mat-cell *matCellDef="let element"> {{element.dateOfNextIncr}} </td>
    </ng-container>

    <ng-container matColumnDef="designation">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Designation</th>
        <td mat-cell *matCellDef="let element"> {{element.designation}} </td>
    </ng-container>
    <ng-container matColumnDef="optionOpted">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="w-6">Option Availed (Yes/No)</th>
        <td mat-cell *matCellDef="let element"> {{element.optionAvail}} </td>
    </ng-container>
    <ng-container matColumnDef="optionDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="w-6">Option Date
        </th>
        <td mat-cell *matCellDef="let element"> {{element.optionAvailDate | date : 'dd-MM-yyyy'}} </td>
    </ng-container>
    <ng-container matColumnDef="approvalDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="w-6">Date of Audit / Approval
        </th>
        <td mat-cell *matCellDef="let element"> {{element.eventAuditDate}} </td>
    </ng-container>
    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status
        </th>
        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
    </ng-container>
    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Action
        </th>
        <td mat-cell *matCellDef="let element" class="text-center" >
            <a *ngIf="element.visibleFlag == '1' && element.eventName != 'Auto Increment'" style="text-decoration:underline" (click)="viewEvents(element)">
                <i class="material-icons plus view-icon" title="View">remove_red_eye</i>
            </a>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="matTableColumn"></tr>
    <tr mat-row *matRowDef="let row; columns: matTableColumn"></tr>
    <tr mat-footer-row
        [class.hide-table-footer]="matTableDataSource && matTableDataSource.data && matTableDataSource.data.length != 0"
        *matFooterRowDef="footerColumn"></tr>
</table>