<div class="container">
    <div class="form-wrapper ddo-table" style="font-family: sans-serif;">
        <div class="table-responsive">
            <!-- First Page -->
            <div class="row">
              <div class="col-sm-12" style="margin-bottom: -45px;">
                <div class="floatRight">
                  <table>
                    <tr>
                      <td class="leftAlign">Phone:</td>
                      <td class="pl-2 leftAlign">232-56347</td>
                    </tr>
                    <tr>
                      <td class="leftAlign">Fax:</td>
                      <td class="pl-2 leftAlign">232-54606</td>
                    </tr>
                  </table>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="centerAlign">
                    <div class="font-16"><strong>GOVERNMENT OF GUJARAT</strong></div>
                    <div class="font-16"><strong>DIRECTORATE OF INSURANCE</strong></div>
                    <div class="font-18">GOVERNMENT INSURANCE FUND</div>
                    <div class="font-14">3rd Floor Vima & Lekha Bhavan, Opp. MLA Quarters, Old Sachivalaya, Sector 10-B Gandhinagar</div>
                </div>
  
              </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-12">
                  <div class="centerAlign">
                    <div class="font-20"><b>STANDARD FIRE POLICY - (H.B.A)</b></div>
                    <br>
                    <div class="font-16"><b>Schedule</b></div>
                    <div class="mt-2" style="border-bottom: 1px black solid;"></div>
                  </div>
  
                  <div>
                    <table class="mainTable">
                      <tr>
                        <td><b>Policy Number</b></td>
                        <td><b>Challan No. & Date</b></td>
                        <td><b>Premium (Rs.)</b></td>
                      </tr>
                      <tr>
                        <td style="height: 30%;">DOt/HBA/1 1 /P 1201 1 I 0017 00</td>
                        <td>2092 & 01/03/11</td>
                        <td rowspan="3">
                          <table class="internalTab">
                            <tr>
                              <td>Premium (Rs.)</td>
                              <td>1,813</td>
                            </tr>
                            <tr>
                              <td>(-)Long Term Disc. (Rs.)</td>
                              <td>0</td>
                            </tr>
                            <tr>
                              <td>(-) % Disc.(Rs.)</td>
                              <td>0</td>
                            </tr>
                            <tr>
                              <td>Net Premium</td>
                              <td>1,813</td>
                            </tr>
                            <tr>
                              <td>Service Tax (Rs.)</td>
                              <td>1,87</td>
                            </tr>
                            <tr>
                              <td><b>Total (Rs.)</b></td>
                              <td><b>2000</b></td>
                            </tr>
                          </table>
  
                          <div><b>Total Premium(Words): lndian Rupees Two ThousandOnly</b></div>
                        </td>
                      </tr>
                      <tr>
                        <td><b>Loan Account Number</b></td>
                        <td><b>Period of lnsurance</b></td>
                      </tr>
                      <tr>
                        <td style="height: 45%;"></td>
                        <td>
                            <table class="internalTab">
                              <tr>
                                <td>From</td>
                                <td style="text-align: left;">01/03/2011</td>
                              </tr>
                              <tr>
                                <td>To</td>
                                <td style="text-align: left;">28/02/2026</td>
                              </tr>
                            </table>
                        </td>
                      </tr>
                      <tr>
                        <td><b>Name & Address of the Insured's office</b></td>
                        <td><b>Occupn. of Bldg.</b></td>
                        <td><b>Class of Const.</b></td>
                      </tr>
                      <tr>
                        <td rowspan="3" style="text-align: left !important; vertical-align: top;">
                          AMALIAR N.K. <br>M.G.V.C.L.,  DIV.OFFICE <br> AT:GODHRA <br> TA:GODHRA <br> PANCHAMAHAL,GJ,,IND,,
                        </td>
                        <td>RESIDENCE</td>
                        <td>
                          <table class="internalTab">
                            <tr>
                              <td><b>Wall</b></td>
                              <td style="text-align: left !important;"><b>Brick</b></td>
                            </tr>
                            <tr>
                              <td><b>Ceiling</b></td>
                              <td style="text-align: left !important;"><b>RCC</b></td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td><b>Sum lnsured</b></td>
                        <td><b>Risk Covered</b></td>
                      </tr>
                      <tr>
                        <td>
                            <div class="floatRight">400000</div>
                            <br>
                            <div class="floatLeft"><b>Rs.Indian Rupees Four Lakhs Only</b></div>
                        </td>
                        <td>Fire Basic Cover</td>
                      </tr>
                      <tr>
                        <td><b>Name & Address of the Insured</b></td>
                        <td colspan="2"><b>Location of the Property Insured</b></td>
                      </tr>
                      <tr>
                        <td style="text-align: left !important; vertical-align: top;">
                          AMALIAR N.K. <br> HOUSE NO:240, AT:PIPALIYA <br> PO:THALA <br> TA:JHALOD <br> DAHOD GUJARAT 389170
                        </td>
                        <td colspan="2" style="text-align: left !important; vertical-align: top;">
                          HOUSE NO:240, AT:PIPALIYA, PO:THALA, TA:JHALOD <br> GUJARAT DAHOD 389170 <br> DAHOD
                        </td>
                      </tr>
                      <tr>
                        <td colspan="3" style="text-align: left !important;">
                          <b>Total Sum Insured In Words : Indian Rupees Four Lakhs Only</b>
                          <br><br>
                          The insurance  under  this policy is subject to conditions, clauses, warranties and  endorsements. <br>
                          Warranted that in case of dishonour of premium cheque(s) the Company shall not be liable under the policy and the policy shall be void  abinitio (from inception). <br>
                          In  witness  whereof the undersigned  being authorised by and  on  behalf  of the company has/have
                          herein to set his/their hands at GANDHINAGAR on 14thDay of March 2011
  
                          <br>
  
                          <table class="innerTab floatLeft" style="width: 35% !important;">
                            <tr>
                              <td style="width: 10%;"><b>Entered By</b></td>
                              <td style="width: 1%;"><b>:</b></td>
                              <td style="width: 15%;"><b>Mr. S. M. CHANAN</b></td>
                            </tr>
                            <tr>
                              <td><b>Approved By</b></td>
                              <td><b>:</b></td>
                              <td><b>Mr. S. M. CHANAN</b></td>
                            </tr>
                          </table>
  
                        </td>
                      </tr>
                    </table>
                    <div class="mt-2" style="border-bottom: 1px black solid;"></div>
                  </div>
  
                  <div class="floatleft">
                    <table>
                      <tr>
                        <td class="leftAlign">Place:</td>
                        <td class="pl-2 leftAlign">Gandhinagar</td>
                      </tr>
                      <tr>
                        <td class="leftAlign">Date:</td>
                        <td class="pl-2 leftAlign">14/03/2011</td>
                      </tr>
                    </table>
                  </div>
  
                  <div class="centerAlign floatRight">
                    <div style="margin-right: 40px;">
                      For and on  behalf of <br> Directorate of Insurance, Government of Gujarat
                      <br><br>
                      Assistant Director/Director of insurance
                    </div>
                    <br>
                    <span class="floatRight">Page 1 of 1</span>
                  </div>
  
                </div>
  
        </div>
  
        <!-- Common Action Buttons -->
        <div class="form-action-button">
          <button type="submit" mat-raised-button color="primary" class="btn-print" (click)="onPrint()">
            <i class="material-icons" aria-hidden="true">print </i>
            Print
          </button>
          <!-- <button type="submit" mat-raised-button color="primary" class="btn-export-excel">
            <i class="material-icons" aria-hidden="true">insert_drive_file </i>
            Export to Excel
          </button>
          <button type="reset" mat-raised-button color="accent" class="btn-export-pdf">
            <i class="material-icons" aria-hidden="true">picture_as_pdf</i>
            Export to PDF
          </button>
          <button type="reset" mat-raised-button color="warn" class="btn-export-pdf">
  
            <i class="material-icons" aria-hidden="true">event_note</i>
            Export to Text
          </button> -->
          <button type="button" mat-raised-button class="btnClose">
            <i class="material-icons" aria-hidden="true" title="Close">
              close
            </i>
            Close
          </button>
        </div>
    </div>
  </div>
