table.mat-table {
    border-spacing: 0;
    margin: 15px 0px 0px 0px;
}
.mat-table td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
    text-align: left;
}
.form-datatable-list {
    padding: 0px 0px;
}
.form-datatable-list {
    overflow: auto;
}
.scroll-h{
    width: 100%;
    overflow: auto;
}