<form class="pt-2 pb-2 max-auto popupForm">
    <p class="msg">Do you really want to reset ?
    </p>
    <div mat-dialog-actions class="form-action-button">
        <button type="submit" mat-raised-button color="primary" (click)="onYesClick()" style="margin-bottom: unset;">
            <i class="material-icons" title="Yes" aria-hidden="true">done</i>
            Yes
        </button>
        <button type="submit" mat-raised-button color="primary" (click)="onNoClick()" style="margin-bottom: unset;">
            <i class="material-icons" title="No" aria-hidden="true">close</i>
            No
        </button>
    </div>
</form>