<div class="container">
    <div class="form-wrapper">
        <div class="heading-section ng-star-inserted">
            <div>{{screenName}}</div>
        </div>
        <div class=" form-datatable-list">
            <form class="col-sm-12" [formGroup]="employeeForm" #employeesForms="ngForm" (ngSubmit)="searchDetail()" autocomplete="off">
                <div class="row">
                    <div class="col-sm-3">
                        <mat-form-field class="full-width">
                            <input matInput numbersOnly formControlName="employeeId" placeholder="Employee Number" minlength="10" maxlength="10" required>
                            <div class="error-wrapper" *ngIf="employeeForm.controls.employeeId.touched && employeeForm.controls.employeeId.errors">
                                <mat-error *ngIf="employeeForm.controls.employeeId.errors.required">
                                    {{errorMessage.EMPLOYEE}}
                                </mat-error>
                                <mat-error *ngIf="employeeForm.controls.employeeId.errors.minlength">
                                    {{errorMessage.EMPLOYEE_CODE_LENGTH}}
                                </mat-error>
                            </div>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 offset-5">
                        <div class="form-group">
                            <button type="submit" mat-raised-button color="primary" class="mr-3">Search</button>
                            <button type="button" mat-raised-button color="accent" (click)="resetForm(employeesForms)">
                                <i class="material-icons"> restore</i>Reset
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div style="width: 100%; overflow: auto;" *ngIf="isSerch">
            <div class="expenditure-estimate-work-in-progress">
                <table mat-table [dataSource]="dataSource" matSort>
                    <ng-container matColumnDef="checked">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Check Box </th>
                        <td mat-cell *matCellDef="let element">
                            <mat-checkbox [(ngModel)]="element.checked" (change)="checkboxValueChange()" class="mx-auto"></mat-checkbox>
                        </td>
                        <td mat-footer-cell *matFooterCellDef [attr.colspan]="8" class="centerAlign">
                            <span *ngIf="dataSource && dataSource.data && dataSource.data.length == 0">
                               This Employee does not belong to this office
                            </span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="userCode">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Employee Number </th>
                        <td mat-cell *matCellDef="let element"> {{element.userCode}}</td>
                    </ng-container>
                    <ng-container matColumnDef="userName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Employee Name</th>
                        <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
                    </ng-container>
                    <ng-container matColumnDef="officeName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>DDO Office Name</th>
                        <td mat-cell *matCellDef="let element"> {{element.officeName}} </td>
                    </ng-container>
                    <ng-container matColumnDef="postName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Post Name</th>
                        <td mat-cell *matCellDef="let element"> {{element.postName}} </td>
                    </ng-container>
                    <ng-container matColumnDef="postType">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Post Type</th>
                        <td mat-cell *matCellDef="let element"> {{element.postType}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="headerColumn"></tr>
                    <tr mat-row *matRowDef="let row; let i = index;columns:headerColumn"></tr>
                    <tr mat-footer-row [class.hide-table-footer]="dataSource && dataSource.data && dataSource.data.length != 0" *matFooterRowDef="displayedColumnsFooter">
                    </tr>
                </table>
            </div>
        </div>
        <div class="form-action-button" *ngIf="isSerch">
            <button mat-raised-button type="submit" class="green" (click)="resetPassword()" [disabled]="!isRecordSelected">
                <i class="material-icons">
                    done
                </i>
                Submit
            </button>
            <button type="button" mat-raised-button class="btnClose" (click)="goToDashboard()">
                <i class="material-icons" title="Budget dashboard">
                    close
                </i>
                Close
            </button>
        </div>
    </div>
</div>