<div class="container">
    <div [class.form-wrapper]="!isFromForgot">
        <div class="heading-section ng-star-inserted" *ngIf="!isFromForgot">
            <div>Change Password</div>
        </div>
        <div>
            <form [formGroup]="passwordForm" #passwordForms="ngForm" *ngIf="showChangePassword">
                <div class="row password-form-container">
                    <div class="col-sm-5 col-md-3 password-form">
                        <div class="text-center" *ngIf="!withoutOldPass">
                            <div class="disinblick">
                                <mat-form-field>
                                    <input matInput placeholder="Current password" name="currentPassword"
                                        formControlName="currentPassword" [type]="hide ? 'password' : 'text'" required maxlength="16">
                                    <div class="error-wrapper"
                                        *ngIf="passwordForm.controls.currentPassword.touched && passwordForm.controls.currentPassword.errors">
                                        <mat-error *ngIf="passwordForm.controls.currentPassword.errors.required">
                                            {{errorMessages.CURRENT_PASSWORD}}
                                        </mat-error>
                                    </div>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="text-center">
                            <div class="disinblick">
                                <mat-form-field>
                                    <input matInput placeholder="New password" name="newPassword"
                                        formControlName="newPassword" (keyup)="passwordCriteriaCheck()"
                                        [type]="hide ? 'password' : 'text'" required maxlength="16">
                                    <div class="error-wrapper"
                                        *ngIf="passwordForm.controls.newPassword.touched && passwordForm.controls.newPassword.errors">
                                        <mat-error *ngIf="passwordForm.controls.newPassword.errors.required">
                                            {{errorMessages.NEW_PASSWORD}}
                                        </mat-error>
                                    </div>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="text-center">
                            <div class="disinblick">
                                <mat-form-field>
                                    <input matInput placeholder="Confirm password" name="confirmPassword"
                                        formControlName="confirmPassword" [type]="hide ? 'password' : 'text'" required maxlength="16">
                                    <div class="error-wrapper"
                                        *ngIf="passwordForm.controls.confirmPassword.touched && passwordForm.controls.confirmPassword.errors">
                                        <mat-error *ngIf="passwordForm.controls.confirmPassword.errors.required">
                                            {{errorMessages.CONFIRM_PASSWORD}}
                                        </mat-error>
                                    </div>
                                </mat-form-field>
                            </div>
                        </div>
                        <div *ngIf="showCapsOn" class="caps-lock">
                            Caps Lock is On.
                        </div>
                        <div>
                            <mat-error *ngIf="passwordChangeError">
                                {{passwordChangeError}}
                            </mat-error>
                        </div>
                        <div class="">
                            <mat-error *ngIf="passwordCriteria">{{errorMessages.PASSWORD_CRITERIA}}</mat-error>
                            <mat-error *ngIf="passwordMatch">{{errorMessages.PASSWORD_MATCH}}</mat-error>
                        </div>
                    </div>
                    <div class="col-sm-3 password-checks">
                        <div>
                            <mat-checkbox disabled="true" [checked]="capsCheck">Capital Letter</mat-checkbox >
                        </div>
                        <div>
                            <mat-checkbox disabled="true" [checked]="lowerCheck">Low letter</mat-checkbox>
                        </div>
                        <div>
                            <mat-checkbox disabled="true" [checked]="numberCheck">Number</mat-checkbox>
                        </div>
                        <div>
                            <mat-checkbox disabled="true" [checked]="specialCharCheck">Special character</mat-checkbox>
                        </div>
                        <div>
                            <mat-checkbox disabled="true" [checked]="lengthCheck">Password of 8-16 character length</mat-checkbox>
                        </div>
                    </div>
                </div>

                <div class="form-action-button">
                    <button mat-raised-button type="submit" class="green" (click)="onSubmit()">
                        <i class="material-icons">
                            done
                        </i> Submit
                    </button>
                    <button type="button" mat-raised-button color="accent" (click)="onReset(passwordForms)">
                        <i class="material-icons">
                            restore
                        </i>
                        Reset
                    </button>
                    <button type="button" mat-raised-button class="btnClose" *ngIf="!isFromForgot && showCloseButton" [routerLink]="'/dashboard'" skipLocationChange>
                        <i class="material-icons" title="Budget dashboard">close</i>
                        Close
                    </button>
                </div>
            </form>
            <form [formGroup]="otpConfirmationForm" #otpForm="ngForm" *ngIf="showOTPConfirmation && !showChangePassword">
                <div class="row password-form-container">
                    <div class="col-sm-5 col-md-3 password-form">
                        <div class="otp-info" *ngIf="otpMaskingData">
                            OTP has been sent to these :
                            <div>{{otpMaskingData.emailMask}}</div>
                            <div>{{otpMaskingData.mobileMask}}</div>
                        </div>
                        <div class="text-center">
                            <div class="disinblick">
                                <mat-form-field>
                                    <input matInput numbersOnly maxlength="6" placeholder="Please enter OTP" formControlName="otp">
                                    <div class="error-wrapper"
                                        *ngIf="otpConfirmationForm.controls.otp.touched && otpConfirmationForm.controls.otp.errors">
                                        <mat-error *ngIf="otpConfirmationForm.controls.otp.errors.required">
                                            {{errorMessages.OTP}}
                                        </mat-error>
                                    </div>
                                </mat-form-field>
                                <div *ngIf="!showResentOTP" class="remaining-time">Time Remaining
                                    {{minuteTimer}} : {{secondsTimer}}</div>
                                    <div *ngIf="showResentOTP" class="resend-otp">
                                        <a (click)="onResendOTP(otpForm)" *ngIf="showResentOTP">Resend OTP</a>
                                    </div>
                            </div>
                            <div class="text-left">
                                <mat-error *ngIf="otpError">
                                    {{otpError}}
                                </mat-error>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-action-button">
                    <button mat-raised-button type="submit" class="green" (click)="onOTPSubmit()">
                        <i class="material-icons">
                            done
                        </i> Continue
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>