<div class="container common-workflow-section">
  <div class="row">
    <div class="heading-section ng-star-inserted">
      <div>{{screenName}}</div>
      <div class="font-heading"><b>Reference No:</b> 19-20/DMO/DPS/001</div>
      <div class="font-heading"><b>Reference Date:</b> {{ date | date: 'dd-MMM-yyyy HH:mm'}}</div>
    </div>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon" *ngIf="doneHeader">check</mat-icon>
      Comment
    </ng-template>
    <div class="row header-detail">
      <div class="col-sm-6 colPadding" *ngFor="let item of headerJso">
        <div class="col-sm-6 labelCSS">{{item.label}}<span class="floatRight">:</span></div>
        <div class="col-sm-6 paddingUnset">{{item.value}}</div>
      </div>
    </div>

    <div class="forward-module-container">
      <div class="forward-dialog-left">
        <div class="col-sm-12">
          <div mat-dialog-actions>
            <button type="submit" mat-raised-button color="primary"><i class="material-icons" title="save">save</i>
              Print</button>
            <button type="button" mat-raised-button (click)="onNoClick()" class="btnClose"><i class="material-icons"
                aria-hidden="true" title="Budget dashboard">close</i>Close</button>
          </div>
          <div class="form-datatable-list history-common-section">
            <mat-checkbox [(ngModel)]="master_checked" [(indeterminate)]="master_indeterminate"
              (change)="master_change()"><b>Comment History</b></mat-checkbox>
            <div class="category-deprt"><b>Education Department</b></div>
            <mat-list *ngFor="let comments of forwardDialog_history_list">
              <div class="cover-box">
                <mat-list-item>
                  <div class="check-box-list-btn">
                    <mat-checkbox [(ngModel)]="comments.checked" [disabled]="comments.disabled"
                      [labelPosition]="comments.labelPosition" (change)="list_change()">
                    </mat-checkbox>
                  </div>
                </mat-list-item>
                <div class="check-box-contain-list">
                  <div class="histy-box">
                    <mat-list-item class="txt-heading">
                      {{comments.userName}},{{comments.designation}} ({{comments.role}})
                    </mat-list-item>
                    <mat-list-item class="txt-heading">{{comments.date}}
                    </mat-list-item>
                  </div>
                  <mat-list-item class="comment-text"> {{comments.comment}}</mat-list-item>
                  <mat-list-item>
                    <div class="box-opener">
                      <p class="flexicon">
                        <a *ngFor="let file of attachment" (click)="checkDisplayFile(file)" class="attachmentType"
                          (click)="file_name = file.fileName;">{{file.fileName}}
                          <i class="material-icons iconset">
                            save_alt
                          </i>
                        </a>
                      </p>
                    </div>
                  </mat-list-item>
                </div>

              </div>

            </mat-list>
          </div>
        </div>
      </div>

      <div class="form-datatable-list action-common-section">
        <form class="col-sm-12" [formGroup]="actionForm" (ngSubmit)="forwardConsolidate()">
          <div *ngIf="show">
            <div *ngFor="let file of attachment">
              <div *ngIf="file_name === file.fileName">
                <img *ngIf="file.imgStatus && file.fileType == 'image'" src="{{file.filePath}}" alt="file.filePath">
                <span *ngIf="file.pdfStatus && file.fileType === 'pdf'">
                </span>
              </div>
            </div>
          </div>


        </form>

      </div>
    </div>
  </div>