<div class="container">
    <h5 class="centerAlign"><strong><u>તમામ યોજના માટેના દાવાઓનું ક્ષતીપૂર્તતા ના કારણોની યાદી</u></strong></h5>
    <div class="row">
        <div class="col-md-12">
            <mat-checkbox color="primary">
                1. <span class="pop-number">પોલીસ ફરીયાદ / FIR</span>
            </mat-checkbox>
        </div>
        <div class="col-md-12">
            <mat-checkbox color="primary">
                2. <span class="pop-number">પોલીસ ચાર્જશીટની પ્રમાણિત નકલ </span>
            </mat-checkbox>
        </div>
        <div class="col-md-12">
            <mat-checkbox color="primary">
                3. <span class="pop-number">પોલીસ અકસ્માત મોત રજીસ્ટરની નોંધ. </span>
            </mat-checkbox>
        </div>
        <div class="col-md-12">
            <mat-checkbox color="primary">
                4. <span class="pop-number">પોલીસ સ્થળપંચનામુ </span>
            </mat-checkbox>
        </div>
        <div class="col-md-12">
            <mat-checkbox color="primary">
                5. <span class="pop-number">પોલીસ ઇન્કવેસ્ટ પંચનામુ. </span>
            </mat-checkbox>
        </div>
        <div class="col-md-12">
            <mat-checkbox color="primary">
                6. <span class="pop-number">પોસ્ટમોર્ટમ રિપોર્ટની વાંચી શકાય તેવી બધા જ પાનાઓની નકલો. </span>
            </mat-checkbox>
        </div>
        <div class="col-md-12">
            <mat-checkbox color="primary">
                7. <span class="pop-number">વિશેરા રિપોર્ટ બાદનો મૃત્યુના ચોક્કસ કારણ સાથેનો ફાઇનલ પી.એમ.રિપોર્ટ. </span>
            </mat-checkbox>
        </div>
        <div class="col-md-12">
            <mat-checkbox color="primary">
                8. <span class="pop-number">પોલીસ પેપર્સ તથા સરકારશ્રીના તા. ૦૧/૦૪/૨૦૧૩ ના ઠરાવના પરિશિષ્ટ-૪ (વૈકલ્પિક) મુજબનું જિલ્લા કલેકટરશ્રી <br>
                    પોસ્ટ્મોર્ટમના વિકલ્પનું પ્રમાણપત્ર </span>
            </mat-checkbox>
        </div>
        <div class="col-md-12">
            <mat-checkbox color="primary">
                9. <span class="pop-number">પોલીસ તપાસનો સબ ડિવિઝનલ મેજીસ્ટ્રેટને રજૂ થયેલ આખરી અહેવાલ. </span>
            </mat-checkbox>
        </div>
        <div class="col-md-12">
            <mat-checkbox color="primary">
                10. <span class="pop-number">અક્સ્માત મોત મંજુર કરતો સબ ડિવિઝનલ મેજીસ્ટ્રેટનો હુકમ રજૂ કરવો. </span>      
            </mat-checkbox>
        </div>
        <div class="col-md-12">
            <mat-checkbox color="primary">
                11. <span class="pop-number">અપંગતા બાબતે સરકારી હોસ્પિટલના સિવિલ સર્જનનું કાયમી સંપૂર્ણ અપંગતાનું કાયમી પ્રમાણપત્ર. </span>  
            </mat-checkbox>
        </div>
        <div class="col-md-12">
            <mat-checkbox color="primary">
                12. <span class="pop-number">તબીબી સારવારના પેપર્સ. </span>
            </mat-checkbox>
        </div>
        <div class="col-md-12">
            <mat-checkbox color="primary">
                13. <span class="pop-number">અપંગતા વાળો ફોટો. </span>
            </mat-checkbox>
        </div>
        <div class="col-md-12">
            <mat-checkbox color="primary">
                14. <span class="pop-number">અકસ્માત સમયે ગુજરનાર/અપંગ પોતે અકસ્માત સમયે ‌‌‌જે વાહન ચલાવતા હોઇ તે વાહન ચલવવા માટેનું વેલીડ અને ઇફેટીવ <br>
                    હોય તેવું ડ્રાઈવીંગ લાઇસન્સ અથવા લાઇસન્સ ધરાવતા હોય પરંતુ ખોવાઈ ગયું હોય તેવા કિસ્સામાં જે તે જિલ્લા RTO <br>
                    પાસેથી Driving License Extract મેળવવું અથવા ડ્રાઈવીંગ લાઇસન્સ ધરાવતા ન હોય / ખોવાઈ ગયું હોય / મળતું <br>
                    ન હોય / રજૂ કરી શકે તેમ ન હોય તેવા કિસ્સામાં લેખિતમાં જાણ કરવી. </span>
            </mat-checkbox>
        </div>
        <div class="col-md-12">
            <mat-checkbox color="primary">
                15. <span class="pop-number">ગુજરનાર/અપંગના આધારકાર્ડની નકલ. </span>
            </mat-checkbox>
        </div>
        <div class="col-md-12">
            <mat-checkbox color="primary">
                16. <span class="pop-number"> અરજદારના આધારકાર્ડની નકલ. </span>
            </mat-checkbox>
        </div>
        <div class="col-md-12">
            <mat-checkbox color="primary">
                17. <span class="pop-number">ગુજરનાર/અપંગનો જન્મનો દાખલો/શાળા છોડ્યાનું પ્રમાણપત્ર/શાળાનોદાખલો. </span>
            </mat-checkbox>
        </div>
        <div class="col-md-12">
            <mat-checkbox color="primary">
                18. <span class="pop-number">ગુજરનાર/અપંગનું ચૂંટણીકાર્ડ/રેશનકાર્ડ. </span>
            </mat-checkbox>
        </div>
        <div class="col-md-12">
            <mat-checkbox color="primary">
                19. <span class="pop-number">ગુજરનાર નું મરણનું પ્રમાણપત્ર </span>
            </mat-checkbox>
        </div>
        <div class="col-md-12">
            <mat-checkbox color="primary">
                20. <span class="pop-number">ગુજરનાર/અપંગનું તલાટી દ્વારા પ્રમાણિત થયેલ પેઢીનામુ. </span>
            </mat-checkbox>
        </div>
        <div class="col-md-12">
            <mat-checkbox color="primary">
                21. <span class="pop-number">ગુજરનારના અન્ય વારસદારો/ભાઈ-બહેનોનું સંમતિપત્રક. </span>
            </mat-checkbox>
        </div>
        <div class="col-md-12">
            <mat-checkbox color="primary">
                22. <span class="pop-number">અરજદારના નામ નો કેન્સલ્ડ ચેક/ બેંક પાસબુકની નકલ જેમાં બેંક નું નામ, ખાતા નંબર., શાખાનું નામ /સરનામું, <br>
                    બેંક નો IFSC કોડ/MICR કોડ આવી જાય તેવી રીતે રજૂ કરવી. </span>
            </mat-checkbox>
        </div>
        <div class="col-md-12">
            <mat-checkbox color="primary">
                23. <span class="pop-number">પરિશિષ્ટ ૧/અરજીપત્રક ફરજિયાત અસલમાં અરજદારની સહી સાથે. </span>
            </mat-checkbox>
        </div>
        <div class="col-md-12">
            <mat-checkbox color="primary">
                24. <span class="pop-number"> પરિશિષ્ટ ૨ નોડલ અધિકારીની સહી સાથે અસલમાં. </span>
            </mat-checkbox>
        </div>
        <div class="col-md-12">
            <mat-checkbox color="primary">
                25. <span class="pop-number">  બાહેંધરી પત્રક સહી કરેલું અસલમાં. </span>
            </mat-checkbox>
        </div>
        <div class="col-md-12">
            <mat-checkbox color="primary">
                26. <span class="pop-number"> ગુજરનાર અપરણિત હતા તે બાબતે તલાટીનો દાખલો. </span>
            </mat-checkbox>
        </div>
        <div class="col-md-12">
            <mat-checkbox color="primary">
                27. <span class="pop-number"> ગુજરનાર/અપંગ જે બેનામ/ઉર્ફે થી અલગ અલગ નામ વાળા વ્યક્તિ એક જ હોવા બાબતે મામલતદાર/તલાટીનો દાખલો. <br>
                    ( સોગંદનામું નહિં)</span>
            </mat-checkbox>
        </div>
        <div class="col-md-12">
            <mat-checkbox color="primary">
                28. <span class="pop-number"> ગુજરનારના નામના મરણ તારીખ પછીની તારીખના ૭*૧૨/૮અ. </span>
            </mat-checkbox>
        </div>
        <div class="col-md-12">
            <mat-checkbox color="primary">
                29. <span class="pop-number">  ગુજરનાર/અપંગનું નામ દાખલ થયું હોય તે તારીખની હક્કપત્રક ૬ ની નોંધ રજૂ કરવી. </span>
            </mat-checkbox>
        </div>
        <div class="col-md-12">
            <mat-checkbox color="primary">
                30. <span class="pop-number">  ગુજરનાર/અપંગના પિતા/માતાના નામના મરણ તારીખ પછીની તારીખના ૭*૧૨/૮અ. </span>
            </mat-checkbox>
        </div>
        <div class="col-md-12">
            <mat-checkbox color="primary">
                31. <span class="pop-number">  ગુજરનાર/અપંગના પિતા/માતાનું નામ દાખલ થયું હોય તે તારીખની હક્કપત્રક ૬ ની નોંધ. </span>
            </mat-checkbox>
        </div>
        <div class="col-md-12">
            <mat-checkbox color="primary">
                32. <span class="pop-number">  ગુજરનાર/અપંગના પિતા/માતાનું તલાટી દ્વારા પ્રમાણિત થયેલ પેઢીનામુ. </span>
            </mat-checkbox>
        </div>
        <div class="col-md-12">
            <mat-checkbox color="primary">
                33. <span class="pop-number"> ગુજરનાર/અપંગના પતિ/પત્નીનું તલાટી દ્વારા પ્રમાણિત થયેલ પેઢીનામુ. </span>
            </mat-checkbox>
        </div>
        <div class="col-md-12">
            <mat-checkbox color="primary">
                34. <span class="pop-number"> ગુજરનાર/અપંગના બધાજ ભાઇ-બહેનોના જન્મના દાખલા રજૂ કરવા. </span>
            </mat-checkbox>
        </div>
        <div class="col-md-12">
            <mat-checkbox color="primary">
                35. <span class="pop-number"> ગુજરનાર/અપંગના પતિ/પત્નીના નામના મરણ તારીખ પછીની તારીખના ૭*૧૨/૮અ. </span>
            </mat-checkbox>
        </div>
        <div class="col-md-12">
            <mat-checkbox color="primary">
                36. <span class="pop-number"> ગુજરનાર/અપંગના પતિ/પત્નીનું નામ દાખલ થયું હોય તે તારીખની હક્કપત્રક ૬ ની નોંધ.  </span>
            </mat-checkbox>
        </div>
        <div class="col-md-12">
            <mat-checkbox color="primary">
                37. <span class="pop-number"> મૃતક જે પેઢી/કંપનીમાં વ્યવસાય કરતા હતા તેનું પગાર પત્રક તથા હાજરી પત્રકની નકલ </span>
            </mat-checkbox>
        </div>
        <div class="col-md-12">
            <mat-checkbox color="primary">
                38. <span class="pop-number"> મૃતક તથા અરજદાર બંને PAN (IT) કાર્ડ ધરાવે છે તો Tax Payer હોય તો છેલ્લા IT Return ની નકલ </span>
            </mat-checkbox>
        </div>
        <div class="col-md-12">
            <mat-checkbox color="primary">
                39. <span class="pop-number">  મૃતકના વ્યવસાય બાબતે GLO ની સ્પષ્ટતા </span>
            </mat-checkbox>
        </div>
        <div class="col-md-12">
            <mat-checkbox color="primary">
                40. <span class="pop-number">  મૃતકનું મરણોતર નિવેદનની પ્રમાણિત નકલ રજુ કરવી. </span>
            </mat-checkbox>
        </div>
        <div class="col-md-12">
            <mat-checkbox color="primary">
                41. <span class="pop-number">  ચેક લીસ્ટ પ્રમાણેનાં પરિશિષ્ટ- ૩(એડવાન્સ સ્ટેમ્પ રીસીપ્ટ) રજૂ કરવી. </span>
            </mat-checkbox>
        </div>
        <div class="col-md-12">
            <mat-checkbox color="primary">
                42. <span class="pop-number"> મૃતક્નો શહેરી પ્રકારના અસંગઠિત શ્રમિક્માં સામેલ થાય છે ? </span>
            </mat-checkbox>
        </div>
        <div class="col-md-12">
            <mat-checkbox color="primary">
                43. <span class="pop-number">  મૃતક વિકલાંગ હોવાનું જણાય છે તો વિકલાંગ હોવાનું ઓળખપત્ર તથા તબીબી પ્રમાણપત્ર </span>
            </mat-checkbox>
        </div>
        <div class="col-md-12">
            <mat-checkbox color="primary">
                44. <span class="pop-number">  દાવા અરજી મોડી કરવાનું યોગ્ય કારણ </span>
            </mat-checkbox>
        </div>
        <div class="col-md-12">
            <mat-checkbox color="primary">
                45. <span class="pop-number">  શાળા છોડયાનું પ્રમાણપત્ર (મ્રુત્યુના સમયે જે શાળામાં અભ્યાસ કરતા હતા તેનું અને મ્રુત્યુની સમય પછીનું કઢાવેલ <br>
                    રજુ કરવું) </span>
            </mat-checkbox>
        </div>
        <div class="col-md-12">
            <mat-checkbox color="primary">
                46. <span class="pop-number"> ખેતીની જમીન નથી તેવું ઈ- ધરાનું અસલ પ્રમાણપત્ર (આ મુજબ) આથી કમ્પ્યુટરાઈઝ રેવેન્યૂ રેકર્ડની ( ઈ- ધરા) ખરાઈ કરી <br>
                    પ્રમાણિત કરવામાં આવે છે કે, મૃતક શ્રી તેના પોતાના નામે કે તેના માતા- પિતા / દાદા-પરદાદા / ભાઈ- બહેન / પુત્ર-પુત્રી કે પતિ / <br>
                    સાસુ-સસરા ( જો મૃતક સ્ત્રી હોય તો ) કે અન્ય વારસદારોના નામે / ખાતે ખેતીની કે અન્ય પ્રકારની જમીન સીધી કે વારસાઈથી ધારણ <br>
                    કરતા નથી કે ભવિષ્યમાં વારસાઈથી તેઓને મળવાપાત્ર નથી. [સરકારશ્રીના અકસ્માત વીમા યોજનાના ૦૧/૦૪/૨૦૧૩ ના ઠરાવ ક્રમાંક <br>
                    જવય-૧૦૨૦૧૧-ઓ-૩૦૮ (IWDMS No.186826) પરિશિષ્ટ-૫ મુજબ] </span>
            </mat-checkbox>
        </div>
        <div class="col-md-12">
            <mat-checkbox color="primary">
                47. <span class="pop-number"> કોલેજનું બોનાફાઈડ સર્ટી </span>
            </mat-checkbox>
        </div>
        <div class="col-md-12">
            <mat-checkbox color="primary">
                48. <span class="pop-number"> મૃત્યુ તારીખનો સમાવેશ (આવરીલે) થાય તેવી છેલ્લી ફી રસીદ </span>
            </mat-checkbox>
        </div>
        <div class="col-md-12">
            <mat-checkbox color="primary" (change)="other($event)"> 49. Other Reason
            </mat-checkbox>
        </div>
        <div class="col-md-12">

            <div style="width:100%; display: inline-block;" *ngIf="otherShow">
                <mat-form-field>
                    <input matInput (focus)="setGujaratiDefault()" [ngClass]="hasFocusSet == 3 ? 'hasfocus' : ''"
                        (focusout)="hasFocusSet=3;setEnglishOnFocusOut()">
                </mat-form-field>
            </div>
        </div>
        <div class="col-md-12">

            <div style="width:100%; display: inline-block;" *ngIf="otherShow">
                <mat-form-field>
                    <input matInput (focus)="setGujaratiDefault()" [ngClass]="hasFocusSet == 3 ? 'hasfocus' : ''"
                        (focusout)="hasFocusSet=3;setEnglishOnFocusOut()">
                </mat-form-field>
            </div>
        </div>

    </div>
    <div class="form-action-button">


        <button type="submit" mat-raised-button color="primary">
            <i class="material-icons" aria-hidden="true" title="Generate Query">
                done
            </i>
            Generate Query
        </button>
        <button type="button" mat-raised-button class="btnClose" (click)="onNoClick()">
            <i class="material-icons" aria-hidden="true" title="Budget dashboard">
                close
            </i>
            Close
        </button>
    </div>
</div>