<div class="container">
    <h5 class="centerAlign"><strong><u>તમામ યોજના માટેના દાવાઓનું નો-ક્લેમ ના કારણોની યાદી</u></strong></h5>
    <div class="row">
        <div class="col-md-12">
            <mat-checkbox color="primary">
                ૧. <span class="pop-number">સરકારશ્રીના ઠરાવની જોગવાઈ મુજબ ગુજરનાર પોતે નોંધાયેલ ખેડૂત ખાતેદાર કે ખેડૂત ખાતેદાર પતિ-પત્ની કે ખેડૂત ખાતેદારના <br>
                સંતાન ન હોઈ દાવો નામંજુર કરવામાં આવે છે.</span></mat-checkbox>
        </div>
        <div class="col-md-12">
            <mat-checkbox color="primary">
                ૨. <span class="pop-number">સરકારશ્રીના ઠરાવની જોગવાઈ મુજબ ગુજરનાર પોતે નોંધાયેલ ખેડૂત ખાતેદારના પ્રથમ હયાત સંતાન ન હોઈ દાવો નામંજુર <br>
                કરવામાં આવે છે.</span>
            </mat-checkbox>
        </div>
        <div class="col-md-12">
            <mat-checkbox color="primary">
                ૩. <span class="pop-number">સરકારશ્રીના અકસ્માત વીમા યોજનાના ઠરાવની જોગવાઈ મુજબ ગુજરનારનું મરણ અકસ્માત મરણ ન હોઈ દાવો નામંજુર <br>
                કરવામાં આવે છે.</span>
            </mat-checkbox>
        </div>
        <div class="col-md-12">
            <mat-checkbox color="primary">
                ૪. <span class="pop-number">સરકારશ્રીના અકસ્માત વીમા યોજનાના ઠરાવની જોગવાઈ મુજબ ગુજરનાર અકસ્માત સમયે જે વાહન ચલાવતા હતા જેનું અકસ્માત <br>
                સમયનું વેલીડ અને ઇફેક્ટીવ હોય તેવું ડ્રાઈવીંગ લાઈસન્સ રજૂ થયેલ ન હોઈ દાવો દફતરે કરવામાં આવે છે. જો ભવિષ્યમાં આપના દ્વારા <br>
                ગુજરનારનું અકસ્માત સમયે વેલીડ અને ઇફેક્ટીવ હોય તેવું ડ્રાઈવીંગ લાઈસન્સ અથવા જે તે RTO માંથી Driving License Extract રજૂ <br>
                કરવામાં આવશે તો દાવો પુન: વિચારણામાં લેવામાં આવશે. </span>
            </mat-checkbox>
        </div>
        <div class="col-md-12">
            <mat-checkbox color="primary">
                ૫. <span class="pop-number">ગુજરનાર સરકારશ્રીના ઠરાવ મુજબ અસંગઠિત શ્રમિક ન હોઈ દાવો નામંજુર કરવામાં આવે છે.</span>
            </mat-checkbox>
        </div>
        <div class="col-md-12">
            <mat-checkbox color="primary">
                ૬. <span class="pop-number">સરકારશ્રીના ઠરાવ મુજબ ગુજરનારને WC Act (કામદાર વળતર ધારો) લાગુ પડતો હોઈ દાવો નામંજુર કરવામાં આવે છે.</span>
            </mat-checkbox>
        </div>
        <div class="col-md-12">
            <mat-checkbox color="primary">
                ૭. <span class="pop-number">અત્રેથી મંગાવેલ જરૂરી દસ્તાવેજો અરજદારે રજૂ કરેલ ન હોઈ દાવો નાંજુર કરવામાં આવે છે.</span>
            </mat-checkbox>
        </div>
        <div class="col-md-12">
            <mat-checkbox color="primary">
                ૮. <span class="pop-number">સરકારશ્રીના ઠરાવ મુજબ ગુજરનાર અકસ્માત મરણ તારીખે શાળાના નિયમિત વિદ્યાર્થી ન હોઈ દાવો નાંજુર કરવામાં આવે છે.</span>
            </mat-checkbox>
        </div>
        <div class="col-md-12">
            <mat-checkbox color="primary">
                ૯. <span class="pop-number">સરકારશ્રીના ઠરાવ મુજબ ગુજરનાર અકસ્માત મરણ તારીખે કૉલેજના નિયમિત વિદ્યાર્થી ન હોઈ દાવો નાંજુર કરવામાં આવે છે.</span>
            </mat-checkbox>
        </div>
        <div class="col-md-12">
            <mat-checkbox color="primary">
                ૧૦. <span class="pop-number">સરકારશ્રીના ઠરાવ મુજબ ગુજરનાર અકસ્માત મરણ તારીખે ITIના નિયમિત વિદ્યાર્થી ન હોઈ દાવો નાંજુર કરવામાં આવે છે.</span>
            </mat-checkbox>
        </div>
        <div class="col-md-12">
            <mat-checkbox color="primary">
                ૧૧. <span class="pop-number">સરકારશ્રીના ઠરાવ મુજબ ગુજરનાર અકસ્માત સમયે સફાઈ કામગીરી કરતા ન હોઈ ઠરાવ મુજબ યોજનાનો લાભ મળી શકે <br>
                નહી આથી દાવો નાંજુર કરવામાં આવે છે.</span>
            </mat-checkbox>
        </div>
        <div class="col-md-12">
            <mat-checkbox color="primary">
                ૧૨. <span class="pop-number">સરકારશ્રીના અકસ્માત વીમા યોજનાના ૦૧/૦૪/૨૦૧૩ ના ઠરાવની જોગવાઈ મુજબ અરાજદાર/લાભાર્થી/મ્રૂતક ખેતીની કે અન્ય પ્રકારની <br>
                જમીન પોતાના નામે કે તેના વારસદારોનાં નામે ધરાવતો ન હોય અને/અથવા ભવિષ્યમાં વારસાઈથી તેઓને જમીન મળવાપાત્ર નથી તેવું ઠરાવના <br>
                પરિશિષ્ટ-૫ના નમુના પ્રમાણેનું મામલતદારશ્રી નું પ્રમાણપત્ર રજુ કરેલ ના હોઈ દાવો નામંજુર કરવામાં આવે છે. જો પત્ર મળ્યાથી દિવસ ૧૫ માં <br>
                પરિશિષ્ટ-૫ નમુના પ્રમાણેનું પ્રમાણપત્ર રજુ કરવામાં આવશે તો દાવો પુનઃ વિચારણામાં લેવામાં આવશે.</span>
            </mat-checkbox>
        </div>
        <div class="col-md-12">
            <mat-checkbox color="primary">
                ૧૩. <span class="pop-number">સરકારશ્રીના અકસ્માત વીમા યોજનાના ૦૧/૦૪/૨૦૧૩ ના ઠરાવની જોગવાઈ મુજબ અરાજદાર/લાભાર્થી/મ્રૂતક ખેતીની કે અન્ય પ્રકારની <br>
                જમીન પોતાના નામે કે તેના વારસદારોનાં નામે ધરાવતો હોય અને/અથવા ભવિષ્યમાં વારસાઈથી તેઓને જમીન મળવાપાત્ર હોઈ દાવો નામંજુર <br>કરવામાં આવે છે.</span>
            </mat-checkbox>
        </div>
        <div class="col-md-12">
            <mat-checkbox color="primary">
                ૧૪. <span class="pop-number">સરકારશ્રીના અકસ્માત વીમા યોજનાના ૦૧/૦૪/૨૦૧૩ ના ઠરાવની જોગવાઈ મુજબ અરાજદાર/લાભાર્થી/મ્રૂતક આ યોજનામાં અલગ કે <br>
                અન્ય કેટેગરી (યોજનાનું નામ) હેઠળ અલગથી લાભ મેળવેલ હોઈ દાવો નામંજુર કરવામાં આવે છે.</span>
            </mat-checkbox>
        </div>
        <div class="col-md-12">
            <mat-checkbox color="primary">
                ૧૫. <span class="pop-number">સરકારશ્રીના અકસ્માત વીમા યોજનાના ૦૧/૦૪/૨૦૧૩ ના ઠરાવની જોગવાઈ મુજબ જે અરાજદાર/લાભાર્થી/મ્રૂતક <br>
                સ્વરોજગાર/સ્વવ્યવસાય/વેપાર/ધંધો કરતા હોઈ દાવો નામંજુર કરવામાં આવે છે.</span>
            </mat-checkbox>
        </div>
        <div class="col-md-12">
            <mat-checkbox color="primary">
                ૧૬. <span class="pop-number">સરકારશ્રીના અકસ્માત વીમા યોજનાના ૦૧/૦૪/૨૦૧૩ ના ઠરાવની જોગવાઈ મુજબ જે અરાજદાર/લાભાર્થી/મ્રૂતક ધંધાદારી વાહનનાં માલિક કે <br>
                ડ્રાઈવર હોય અને/અથવા આવું વાહન ભાડેથી ફેરવી ધંધો કરતાં હોઈ દાવો નામંજુર કરવામાં આવે છે.</span>
            </mat-checkbox>
        </div>
        <div class="col-md-12">
            <mat-checkbox color="primary">
                ૧૭. <span class="pop-number">સરકારશ્રીના અકસ્માત વીમા યોજનાના ૦૧/૦૪/૨૦૧૩ ના ઠરાવની જોગવાઈ મુજબ જે અરાજદાર/લાભાર્થી/મ્રૂતક બોટ માલિક કે ખલાસી હોય કે <br>
                કોઈપણ દુકાન/કેબીન/લારી-ગલ્લો રાખી વેપાર કરતા હોઈ દાવો નામંજુર કરવામાં આવે છે.</span>
            </mat-checkbox>
        </div>
        <div class="col-md-12">
            <mat-checkbox color="primary">
                ૧૮. <span class="pop-number">સરકારશ્રીના અકસ્માત વીમા યોજનાના ૦૧/૦૪/૨૦૧૩ ના ઠરાવની જોગવાઈ મુજબ જે અરાજદાર/લાભાર્થી/મ્રૂતક ભીખારી/ભિક્ષુક હોય/ નિવૃત <br>
                હોય/બેકાર હોય કે ઘરકામ કરતાં હોય કે કુશળ કારીગરની વ્યાખ્યામાં આવતાં હોઈ દાવો નામંજુર કરવામાં આવે છે.</span>
            </mat-checkbox>
        </div>
        <div class="col-md-12">
            <mat-checkbox color="primary">
                ૧૯. <span class="pop-number">સરકારશ્રીના અકસ્માત વીમા યોજનાના ૦૧/૦૪/૨૦૧૩ ના ઠરાવની જોગવાઈ મુજબ આપઘાત/આત્મહત્યા કે કુદરતી મૃત્યુ હોઈ દાવો <br>
                નામંજુર કરવામાં આવે છે.</span>
            </mat-checkbox>
        </div>
        <div class="col-md-12">
            <mat-checkbox color="primary">
                ૨૦. <span class="pop-number">સરકારશ્રીના અકસ્માત વીમા યોજનાના ૦૧/૦૪/૨૦૧૩ ના ઠરાવની જોગવાઈ મુજબ મૃત્યુ કોઈ કાયદા/ધારા વિરૂધ્ધના કૃત્યથી અને <br> 
                કોઈપણ જાતની બીમારીથી અને વયથી થતા તથા મૃતકની ઘોર બેદરકારીથી જેવી કે દારૂ પીવાની ટેવ હોવી, જોખમી સ્ટંટ કરવા, <br>
                ભૂલથી દવા પી જવી વગેરે હોઈ દાવો નામંજુર કરવામાં આવે છે.</span>
            </mat-checkbox>
        </div>
        <div class="col-md-12">
            <mat-checkbox color="primary">
                ૨૧. <span class="pop-number">સરકારશ્રીના અકસ્માત વીમા યોજનાના ઠરાવની જોગવાઈ મુજબ ગુજરનારની ઉંમર મરણ તારીખે ૧૮ વર્ષ કરતાં ઓછી હોઈ દાવો નામંજુર કરવામાં આવે છે.</span>
            </mat-checkbox>
        </div>
        <div class="col-md-12">
            <mat-checkbox color="primary">
                ૨૨. <span class="pop-number">સરકારશ્રીના અકસ્માત વીમા યોજનાના ઠરાવની જોગવાઈ મુજબ ગુજરનારની ઉંમર મરણ તારીખે ૧૪ વર્ષ કરતાં ઓછી હોઈ દાવો નામંજુર કરવામાં આવે છે.</span>
            </mat-checkbox>
        </div>
        <div class="col-md-12">
            <mat-checkbox color="primary">
                ૨૩. <span class="pop-number">સરકારશ્રીના અકસ્માત વીમા યોજનાના ઠરાવની જોગવાઈ મુજબ ગુજરનારની ઉંમર મરણ તારીખે ૫ વર્ષ કરતાં ઓછી હોઈ દાવો નામંજુર કરવામાં આવે છે.</span>
            </mat-checkbox>
        </div>
        <div class="col-md-12">
            <mat-checkbox color="primary">
                ૨૪. <span class="pop-number">સરકારશ્રીના અકસ્માત વીમા યોજનાના ઠરાવની જોગવાઈ મુજબ ગુજરનારની ઉંમર મરણ તારીખે ૭૦ વર્ષ કરતાં વધારે હોઈ દાવો નામંજુર કરવામાં આવે છે.</span>
            </mat-checkbox>
        </div>
        <div class="col-md-12">
            <mat-checkbox color="primary">
                ૨૫. <span class="pop-number">કોલેજનું બોનાફાઈડ સર્ટી</span>
            </mat-checkbox>
        </div>
        <div class="col-md-12">
            <mat-checkbox color="primary">
                ૨૬. <span class="pop-number">મૃત્યુ તારીખનો સમાવેશ (આવરીલે) થાય તેવી છેલ્લી ફી રસીદ  </span>              
            </mat-checkbox>
        </div>
        <div class="col-md-12">
            <mat-checkbox color="primary" (change)="other($event)">
                ૨૭. <span class="pop-number">Other Reason</span>
            </mat-checkbox>
        </div>
        <div class="col-md-12">

            <div style="width:100%; display: inline-block;" *ngIf="otherShow">
                <mat-form-field>
                    <input matInput (focus)="setGujaratiDefault()" [ngClass]="hasFocusSet == 3 ? 'hasfocus' : ''"
                        (focusout)="hasFocusSet=3;setEnglishOnFocusOut()">
                </mat-form-field>
            </div>
        </div>
        <div class="col-md-12">

            <div style="width:100%; display: inline-block;" *ngIf="otherShow">
                <mat-form-field>
                    <input matInput (focus)="setGujaratiDefault()" [ngClass]="hasFocusSet == 3 ? 'hasfocus' : ''"
                        (focusout)="hasFocusSet=3;setEnglishOnFocusOut()">
                </mat-form-field>
            </div>
        </div>

    </div>
    <div class="form-action-button">


        <button type="submit" mat-raised-button color="primary">
            <i class="material-icons" aria-hidden="true" title="Generate Query">
                done
            </i>
            Generate Query
        </button>
        <button type="button" mat-raised-button class="btnClose" (click)="onNoClick()">
            <i class="material-icons" aria-hidden="true" title="Budget dashboard">
                close
            </i>
            Close
        </button>
    </div>
</div>