<div class="container">
  <div class="form-wrapper">

    <!-- Screen Name, Reference No and Reference Date Header -->
    <div class="heading-section ng-star-inserted">
      <div>LC Account Opening Request Listing</div>
    </div>

    <!-- Breadcrumb -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
        <li class="breadcrumb-item " aria-current="page"><a href="javascript:void(0)">LC</a></li>
        <li class="breadcrumb-item active" aria-current="page">LC Account Opening Request Listing</li>
      </ol>
    </nav>

    <!-- Form Starts -->
    <form [formGroup]="accountClosingRequestForm">
      <!-- Search Accordian Starts -->
      <mat-accordion class="colapsedata">
        <mat-expansion-panel [expanded]="true" class="nopadding">
          <mat-expansion-panel-header>
            <div class="heading-section">Search</div>
          </mat-expansion-panel-header>
          <div class="box-body">
            <div class="row">


              <!-- Input Field for Department -->
              <div class="col-sm-3" *ngIf="agLoginFlag || toLoginFlag ||datLoginFlag">
                <mat-form-field class="full-width">
                  <mat-select formControlName="department" placeholder="Department">
                    <mat-option>
                      <ngx-mat-select-search [formControl]="DepartmentCtrl" [placeholderLabel]="'Find Department...'"
                        [noEntriesFoundLabel]="'No matching Department found'"
                        (keypress)="directiveObject.onlyAlphabetsAndSpace($event)">
                      </ngx-mat-select-search>
                    </mat-option>
                    <mat-option>-- None --</mat-option>
                    <mat-option
                      *ngFor="let departmentName of DepartmentList | filterSelectInput:DepartmentCtrl.value:'deptName'"
                      [value]="departmentName.deptId">
                      {{departmentName.deptName}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <!-- Input Field for District -->
              <div class="col-sm-3" *ngIf="agLoginFlag || datLoginFlag">
                <mat-form-field class="full-width">
                  <mat-select formControlName="district" placeholder="District">
                    <mat-option>
                      <ngx-mat-select-search [formControl]="distritCtrl" [placeholderLabel]="'Find distrit...'"
                        [noEntriesFoundLabel]="'No matching distrit found'" charactersOnly>
                      </ngx-mat-select-search>
                    </mat-option>
                    <mat-option>-- None --</mat-option>
                    <mat-option
                      *ngFor="let distritName of distritList | filterSelectInput:distritCtrl.value:'districtName'"
                      [value]="distritName.districtId">
                      {{distritName.districtName}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <!-- Input Field for Cardex Number -->
              <div class="col-sm-3">
                <mat-form-field>
                  <input matInput placeholder="Cardex No." formControlName="cardexNumber" maxlength="4" numbersOnly>
                </mat-form-field>
              </div>

              <!-- Input Field for DDO Number -->
              <div class="col-sm-3">
                <mat-form-field>
                  <input matInput placeholder="DDO No." formControlName="ddoNo" maxlength="4" numbersOnly>
                </mat-form-field>
              </div>
              <!-- Input Field for Circle Code -->
              <div class="col-sm-3" *ngIf="toLoginFlag">
                <mat-form-field class="full-width">
                  <mat-select formControlName="circleCode" placeholder="Circle Code">
                    <mat-option>
                      <ngx-mat-select-search [formControl]="CircleCodeCtrl" [placeholderLabel]="'Find Circle Code...'"
                        [noEntriesFoundLabel]="'No matching Circle Code found'"
                        (keypress)="directiveObject.onlyNumberAndAlphabets($event)">
                      </ngx-mat-select-search>
                    </mat-option>
                    <mat-option>-- None --</mat-option>
                    <mat-option
                      *ngFor="let circleCodeName  of CircleCodeList | filterSelectInput:CircleCodeCtrl.value:'circleCode'"
                      [value]="circleCodeName.circleId">
                      {{circleCodeName.circleCode}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <!-- Input Field for Circle Name -->
              <div class="col-sm-3" *ngIf="agLoginFlag || toLoginFlag">
                <mat-form-field class="full-width">
                  <mat-select formControlName="circleName" placeholder="Circle Name">
                    <mat-option>
                      <ngx-mat-select-search [formControl]="circleCtrl" [placeholderLabel]="'Find circle...'"
                        [noEntriesFoundLabel]="'No matching circle found'"
                        (keypress)="directiveObject.onlyAlphabetsNumberSpaceAllSpecial($event)">
                      </ngx-mat-select-search>
                    </mat-option>
                    <mat-option>-- None --</mat-option>
                    <mat-option *ngFor="let circleName of circleList | filterSelectInput:circleCtrl.value:'circleName'"
                      [value]="circleName.circleId" matTooltip="{{circleName.circleName}}">
                      {{circleName.circleName}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>


              <!-- Input Field for Reference Number -->
              <div class="col-sm-3">
                <mat-form-field>
                  <input matInput placeholder="Reference No." formControlName="referenceNumber">
                </mat-form-field>
              </div>

              <!-- Input Field for Reference From Date -->
              <div class="col-sm-3">
                <mat-form-field>
                  <input matInput formControlName="referenceFromDate" [matDatepicker]="referenceFromDate"
                    placeholder="Reference From Date" [max]="config.dates.to.max" (dateChange)="resetToDate()" readonly>
                  <mat-datepicker-toggle matSuffix [for]="referenceFromDate"></mat-datepicker-toggle>
                  <mat-datepicker #referenceFromDate [disabled]="false"></mat-datepicker>
                </mat-form-field>
              </div>

              <!-- Input Field for Reference To Date -->
              <div class="col-sm-3">
                <mat-form-field>
                  <input matInput formControlName="referenceToDate" [matDatepicker]="referenceToDate"
                    placeholder="Reference To Date" [min]="config.dates.to.min" [max]="config.dates.to.max" readonly>
                  <mat-datepicker-toggle matSuffix [for]="referenceToDate"></mat-datepicker-toggle>
                  <mat-datepicker #referenceToDate [disabled]="false"></mat-datepicker>
                </mat-form-field>
              </div>



              <!-- Input Field for OfficeName -->
              <div class="col-sm-3">
                <mat-form-field class="full-width">
                  <mat-select formControlName="officeName" placeholder="Office Name">
                    <mat-option>
                      <ngx-mat-select-search [formControl]="officeNameCtrl" [placeholderLabel]="'Find OfficeName...'"
                        [noEntriesFoundLabel]="'No matching OfficeName found'">
                      </ngx-mat-select-search>
                    </mat-option>
                    <mat-option
                      *ngFor="let officeName of officeList | filterSelectInput:officeNameCtrl.value:'officeName'"
                      [value]="officeName.officeId">
                      {{officeName.officeName}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>



              <!-- Input Field for Receive From Date -->
              <div class="col-sm-3">
                <mat-form-field>
                  <input matInput formControlName="receiveFromDate" [matDatepicker]="receiveFromDate"
                    placeholder="Receive From Date" [max]="config.dates.to.max" (dateChange)="resetReceiveToDate()">
                  <mat-datepicker-toggle matSuffix [for]="receiveFromDate"></mat-datepicker-toggle>
                  <mat-datepicker #receiveFromDate></mat-datepicker>
                </mat-form-field>
              </div>

              <!-- Input Field for Receive To Date -->
              <div class="col-sm-3">
                <mat-form-field>
                  <input matInput formControlName="receiveToDate" [matDatepicker]="receiveToDate"
                    placeholder="Receive To Date" [min]="config.dates.to.min" [max]="config.dates.to.max">
                  <mat-datepicker-toggle matSuffix [for]="receiveToDate"></mat-datepicker-toggle>
                  <mat-datepicker #receiveToDate></mat-datepicker>
                </mat-form-field>
              </div>

              <!-- Input Field for Sent From Date -->
              <div class="col-sm-3">
                <mat-form-field>
                  <input matInput formControlName="sentFromDate" [matDatepicker]="sentFromDate"
                    placeholder="Sent From Date" [max]="config.dates.to.max" (dateChange)="resetSentToDate()">
                  <mat-datepicker-toggle matSuffix [for]="sentFromDate"></mat-datepicker-toggle>
                  <mat-datepicker #sentFromDate [disabled]="false"></mat-datepicker>
                </mat-form-field>
              </div>

              <!-- Input Field for Sent To Date -->
              <div class="col-sm-3">
                <mat-form-field>
                  <input matInput formControlName="sentToDate" [matDatepicker]="sentToDate" placeholder="Sent To Date"
                    [min]="config.dates.to.min" [max]="config.dates.to.max">
                  <mat-datepicker-toggle matSuffix [for]="sentToDate"></mat-datepicker-toggle>
                  <mat-datepicker #sentToDate [disabled]="false"></mat-datepicker>
                </mat-form-field>
              </div>

              <!-- Input Field for Status -->
              <div class="col-sm-3">
                <mat-form-field class="full-width">
                  <mat-select formControlName="status" placeholder="Status">
                    <mat-option>
                      <ngx-mat-select-search [formControl]="StatusCtrl" [placeholderLabel]="'Find Status...'"
                        [noEntriesFoundLabel]="'No matching Status found'"
                        (keypress)="directiveObject.onlyAlphabetsAndSpace($event)">
                      </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let status of statusList | filterSelectInput:StatusCtrl.value:'statusName'"
                      [value]="status.statusName">
                      {{status.statusName}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <!-- Input Field for Workflow Status -->
              <div class="col-sm-3">
                <mat-form-field class="full-width">
                  <mat-select formControlName="workflowStatus" placeholder="Workflow Status">
                    <mat-option>
                      <ngx-mat-select-search [formControl]="workFlowStatusCtrl"
                        [placeholderLabel]="'Find Workflow Status...'"
                        [noEntriesFoundLabel]="'No matching Workflow Status found'"
                        (keypress)="directiveObject.onlyAlphabetsAndSpace($event)">
                      </ngx-mat-select-search>
                    </mat-option>
                    <mat-option
                      *ngFor="let workflowStatus of wfStatusList | filterSelectInput:workFlowStatusCtrl.value:'wfName'"
                      [value]="workflowStatus.wfName">
                      {{workflowStatus.wfName}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>


              <!-- Input Field for Lying With -->
              <div class="col-sm-3">
                <mat-form-field>
                  <input matInput placeholder="Lying With" formControlName="lyingWith"
                    (keypress)="directiveObject.onlyAlphabetSpaceDot($event)" maxlength="30">
                </mat-form-field>
              </div>


              <!-- Buttons for Search and Reset Starts -->
              <div class="col-sm-12">
                <div class="form-action-button">
                  <button type="submit" mat-raised-button color="primary" title="Search" (click)="searchList()">
                    <i class="material-icons" aria-hidden="true">search</i> Search
                  </button>
                  <button type="reset" mat-raised-button color="accent" (click)="clearForm()">
                    <i class="material-icons" aria-hidden="true">
                      restore
                    </i>
                    Reset
                  </button>
                </div>
              </div>
              <!-- Buttons for Search and Reset Ends -->
            </div>

          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <!-- Search Accordian Ends -->
    </form>
    <!-- Form Ends -->

    <br>


    <!-- LC Account Listing Division Table Starts -->
    <div class="mat-elevation-z8 mt-2 overflow-x-auto">
      <table mat-table [dataSource]="dataSource" area-describedby="opening-request-saved">

        <!-- Serial Number Column -->
        <ng-container matColumnDef="srNo">
          <th mat-header-cell *matHeaderCellDef scope="row">Sr No.</th>
          <td mat-cell *matCellDef="let element, let i = index" class="centerAlign">
            {{ i + 1 + (paginator.pageIndex * paginator.pageSize)}}
          </td>
          <td mat-footer-cell *matFooterCellDef [attr.colspan]="LcOpeningRequestSavedDataColumn.length"
            class="centerAlign">
            <div *ngIf="dataSource && dataSource.data && dataSource.data.length == 0">
              No Records Found!
            </div>
          </td>
        </ng-container>

        <!-- Reference Number Column -->
        <ng-container matColumnDef="referenceNo">
          <th mat-header-cell *matHeaderCellDef scope="row">Reference No.</th>
          <td mat-cell *matCellDef="let element">
            {{element.refNo}}
          </td>
        </ng-container>

        <!-- Reference Date Column -->
        <ng-container matColumnDef="referenceDate">
          <th mat-header-cell *matHeaderCellDef scope="row">Reference Date</th>
          <td mat-cell *matCellDef="let element">
            {{(element.refDate ? (element.refDate | date: 'dd-MMM-yyyy hh:mm:ss a') : element.refDate)}}
          </td>
        </ng-container>


        <!-- Office Name Column -->
        <ng-container matColumnDef="officeName">
          <th mat-header-cell *matHeaderCellDef scope="row">Office Name</th>
          <td mat-cell *matCellDef="let element">
            {{element.officeName}}
          </td>
        </ng-container>

        <!-- Cardex Number Column -->
        <ng-container matColumnDef="cardexNo">
          <th mat-header-cell *matHeaderCellDef scope="row">Cardex No.</th>
          <td mat-cell *matCellDef="let element">
            {{element.cardexNo}}
          </td>
        </ng-container>

        <!-- DDO Code Column -->
        <ng-container matColumnDef="ddoCode">
          <th mat-header-cell *matHeaderCellDef scope="row">DDO Code</th>
          <td mat-cell *matCellDef="let element">
            {{element.ddoNo}}
          </td>
        </ng-container>


        <!-- Received From Column -->
        <ng-container matColumnDef="receivedFrom">
          <th mat-header-cell *matHeaderCellDef scope="row">Received From</th>
          <td mat-cell *matCellDef="let element">
            {{element.receivedFrom}}
          </td>
        </ng-container>

        <!-- Received Date Column -->
        <ng-container matColumnDef="receivedDate">
          <th mat-header-cell *matHeaderCellDef scope="row">Received Date</th>
          <td mat-cell *matCellDef="let element">
            {{(element.receivedDate ? (element.receivedDate | date:'dd-MMM-yyyy hh:mm:ss a'): element.receivedDate)}}
          </td>
        </ng-container>

        <!-- Sent To Column -->
        <ng-container matColumnDef="sentTo">
          <th mat-header-cell *matHeaderCellDef scope="row">Sent To</th>
          <td mat-cell *matCellDef="let element">
            {{element.sendTo}}
          </td>
        </ng-container>

        <!-- Sent Date Column -->
        <ng-container matColumnDef="sentDate">
          <th mat-header-cell *matHeaderCellDef scope="row">Sent Date</th>
          <td mat-cell *matCellDef="let element">
            {{(element.sendOnDate ? (element.sendOnDate | date:'dd-MMM-yyyy hh:mm:ss a') : element.sendOnDate)}}
          </td>
        </ng-container>

        <!-- Lying With Column -->
        <ng-container matColumnDef="lyingWith">
          <th mat-header-cell *matHeaderCellDef scope="row">Lying With</th>
          <td mat-cell *matCellDef="let element">
            {{element.lyingWith}}
          </td>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef scope="row">Status</th>
          <td mat-cell *matCellDef="let element" style=" width:80px ">
            {{element.status}}
          </td>
        </ng-container>

        <!-- Workflow Status Column -->
        <ng-container matColumnDef="workflowStatus">
          <th mat-header-cell *matHeaderCellDef scope="row">Workflow Status</th>
          <td mat-cell *matCellDef="let element">
            {{element.wfStatus}}
          </td>
        </ng-container>

        <!-- Action View/Edit/Delete Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef scope="row">Action</th>
          <td mat-cell *matCellDef="let element;let i=index" class="text-center" style=" width:100px ">


            <a
              *ngIf="element.isEditable == 1 && element.status != 'Approved' && element.status != 'Cancelled' && element.status != 'Rejected'">
              <i class="material-icons plus view-icon" aria-hidden="true" title="Edit" (click)="edit(element)">edit
              </i>
            </a>

            <a>
              <i class="material-icons plus view-icon" aria-hidden="true" title="View"
                (click)="view(element)">remove_red_eye
              </i>
            </a>

            <a class="delete-icon" *ngIf="element.isEditable == 1 && element.status == 'Draft'">
              <i class="material-icons plus delete" title="Delete" aria-hidden="true"
                (click)="deleteSDDetails(element)">
                delete
              </i>
            </a>

            <a>
              <i class="material-icons plus" (click)="viewComments(element)" aria-hidden="true"
                title="History Detail">receipt</i>
            </a>
          </td>
        </ng-container>

        <!-- Header and Footer Row Definition -->


        <tr mat-header-row *matHeaderRowDef="LcOpeningRequestSavedDataColumn"></tr>
        <tr mat-row *matRowDef="let row; columns: LcOpeningRequestSavedDataColumn;"></tr>
        <tr mat-footer-row [class.hide-table-footer]="dataSource && dataSource.data && dataSource.data.length != 0"
          *matFooterRowDef="['srNo']">
        </tr>
      </table>
    </div>
    <!-- LC Account Listing Division Table Starts -->

    <!-- Paginator -->
    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->
    <mat-paginator #paginator [pageSize]="'25'" [pageSizeOptions]="[10,5,25]" (page)="onPaginateChange($event)"
      [length]="totalRecords" showFirstLastButtons>
    </mat-paginator>


  </div>
</div>