<div class="container">
  <div class="form-wrapper">
    <div class="heading-section ng-star-inserted">
      <div>NSSF Loan Received</div>
      <div class="font-heading"><strong>Reference Number:</strong> 19-20/DMO/NLR/001</div>
      <div class="font-heading"><strong>Reference Date:</strong> {{ todayDate | date: 'dd-MMM-yyyy HH:mm'}}</div>
    </div>

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">DMO</a></li>
        <li class="breadcrumb-item active" aria-current="page">NSSF Loan Received</li>
      </ol>
    </nav>


    <form [formGroup]="nssfLoanReceivedForm">
      <!-- <mat-tab-group mat-stretch-tabs [selectedIndex]="selectedIndex" (selectedIndexChange)="getTabIndex($event)"> -->
      <!-- Loan Received Starts -->
      <!--  <mat-tab>
        <ng-template mat-tab-label>
          Loan Received (DP Sheet)
        </ng-template> -->
      <!-- Loan Received -->
      <div class="panel-group">
        <div class="box box-primary">
          <div class="box-header">Loan Received (DP Sheet)</div>
          <div class="box-body">

            <div class="row">

              <!-- <div class="col-sm-3">
                <mat-form-field>
                  <mat-select formControlName="typeOfTransactions" placeholder="Type of transactions">
                    <mat-option>
                      <ngx-mat-select-search [formControl]="typeOfTransactionsCtrl"
                        [placeholderLabel]="'Find Type of transactions...'"
                        [noEntriesFoundLabel]="'no matching Type of transactions found'">
                      </ngx-mat-select-search>
                    </mat-option>
                    <mat-option>-- None --</mat-option>
                    <mat-option
                      *ngFor="let item of typeOfTransactionsList | filterSelectInput: typeOfTransactionsCtrl.value"
                      [value]="item.value">{{ item.viewValue }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div> -->
              <div class="col-sm-3">
                <mat-form-field (click)="fromDate.open()">
                  <input matInput formControlName="fromDate" [matDatepicker]="fromDate" placeholder="From Date" disabled>
                  <mat-datepicker-toggle matSuffix [for]="fromDate">
                  </mat-datepicker-toggle>
                  <mat-datepicker #fromDate disabled="false"></mat-datepicker>
                </mat-form-field>
              </div>

              <div class="col-sm-3">
                <mat-form-field (click)="toDate.open()">
                  <input matInput formControlName="toDate" [matDatepicker]="toDate" placeholder="To Date" disabled>
                  <mat-datepicker-toggle matSuffix [for]="toDate">
                  </mat-datepicker-toggle>
                  <mat-datepicker #toDate disabled="false"></mat-datepicker>
                </mat-form-field>
              </div>

            </div>

            <!-- Action Button -->
            <div class="form-action-button">
              <button type="submit" mat-raised-button color="primary" (click)="getDetails(null)">
                <i class="material-icons" title="Get Details" aria-hidden="true">
                  vertical_align_bottom
                </i>
                Get Details</button>
              <button type="button" title="Cancel" mat-raised-button class="btnClose">
                <i class="material-icons " title="cancel">close</i>Cancel</button>
            </div>

          </div>
        </div>
      </div>



      <div class="panel-group" *ngIf="isDetails">
        <div class="row">
          <div class="col-sm-12">
            <!-- Loan Received Table -->
            <table mat-table [dataSource]="dataSource" width="100%" aria-describedby="nssfLoanReceivedTable">

              <!-- Sr. No. -->
              <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef scope="row">Sr. No.</th>
                <td mat-cell *matCellDef="let element; let i = index;" class="centerAlign">
                  {{ pageIndex*pageSize + i + 1 }} </td>
              </ng-container>


              <!-- Memo No -->
              <ng-container matColumnDef="memoNo">
                <th mat-header-cell *matHeaderCellDef scope="row">Memo No.</th>
                <td mat-cell *matCellDef="let element" class="centerAlign">
                  {{element.memoNo}}
                </td>
              </ng-container>

              <!-- Advice No. -->
              <ng-container matColumnDef="adviceNo">
                <th mat-header-cell *matHeaderCellDef scope="row">Advice No.</th>
                <td mat-cell *matCellDef="let element" class="centerAlign">
                  {{element.adviceNo}}
                </td>
              </ng-container>

              <!-- Dp Date -->
              <ng-container matColumnDef="dpDate">
                <th mat-header-cell *matHeaderCellDef scope="row">Dp Date</th>
                <td mat-cell *matCellDef="let element">
                  {{element.dpDate}}
                </td>
              </ng-container>

              <!-- Advice Date -->
              <ng-container matColumnDef="adviceDate">
                <th mat-header-cell *matHeaderCellDef scope="row">Advice Date</th>
                <td mat-cell *matCellDef="let element">
                  {{element.adviceDate}}
                </td>
              </ng-container>

              <!-- Advice By -->
              <ng-container matColumnDef="adviceBy">
                <th mat-header-cell *matHeaderCellDef scope="row">Advice By</th>
                <td mat-cell *matCellDef="let element">
                  {{element.adviceBy}}
                </td>
              </ng-container>

              <!-- Transaction Description -->
              <ng-container matColumnDef="transactionDescription">
                <th mat-header-cell *matHeaderCellDef scope="row">Transaction Description </th>
                <td mat-cell *matCellDef="let element">
                  {{element.transactionDescription}}
                </td>
              </ng-container>

              <!-- Credit Amount  -->
              <ng-container matColumnDef="creditAmount">
                <th mat-header-cell *matHeaderCellDef scope="row">Credit Amount </th>
                <td mat-cell *matCellDef="let element" class="rightAlign">
                  {{element.creditAmount}}
                </td>
              </ng-container>

              <!-- Add Details   -->
              <ng-container matColumnDef="addDetails">
                <th mat-header-cell *matHeaderCellDef scope="row">Add Details</th>
                <td mat-cell *matCellDef="let element" class="centerAlign">
                  <div *ngIf="element.addDetails==='Done'">
                    {{element.addDetails}}
                  </div>
                  <div *ngIf="element.addDetails==='Add Details'">
                    <button type="button" mat-raised-button color="primary" (click)="onAddDetails(element)" title="Add Detials"
                      style="margin:5px;">
                      Add Detials
                    </button>
                  </div>
                </td>
              </ng-container>

              <!-- Header column of Table -->
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <!-- Data fetch from .TS File  -->
              <tr mat-row *matRowDef="let row; let i = index;columns: displayedColumns;"></tr>
            </table>
            <mat-paginator #paginator [pageSizeOptions]="[pageSize]" (page)="pageEvent = $event; onPaginateChange($event)"
           [length]="totalRecords" showFirstLastButtons></mat-paginator>
          </div>
        </div>
      </div>

      <!-- </mat-tab>
        <mat-tab [disabled]="tabDisable">
          <ng-template mat-tab-label>
            Add Details
          </ng-template>

          <form [formGroup]="addDetailsForm"> -->
      <!-- Loan Details -->
      <!-- <div class="panel-group">
              <div class="box box-primary">
                <div class="box-header">Loan Details</div>
                <div class="box-body">

                  <div class="row">

                    <div class="col-sm-3">
                      <mat-form-field>
                        <input matInput formControlName="sanctionNo" placeholder="Sanction No" required>
                        <div class="error-wrapper"
                          *ngIf="addDetailsForm.controls.sanctionNo.touched && addDetailsForm.controls.sanctionNo.errors">
                          <mat-error *ngIf="addDetailsForm.controls.sanctionNo.errors.required">
                            {{errorMessages.SANCTION_NO}}
                          </mat-error>
                        </div>
                      </mat-form-field>
                    </div>

                    <div class="col-sm-3">
                      <mat-form-field>
                        <input matInput formControlName="sanctionDate" [matDatepicker]="sanctionDate"
                          placeholder="Sanction Date" required>
                        <mat-datepicker-toggle matSuffix [for]="sanctionDate">
                        </mat-datepicker-toggle>
                        <mat-datepicker #sanctionDate></mat-datepicker>
                        <div class="error-wrapper"
                          *ngIf="addDetailsForm.controls.sanctionDate.touched && addDetailsForm.controls.sanctionDate.errors">
                          <mat-error *ngIf="addDetailsForm.controls.sanctionDate.errors.required">
                            {{errorMessages.SANCTION_DATE}}
                          </mat-error>
                        </div>
                      </mat-form-field>
                    </div>

                    <div class="col-sm-3">
                      <mat-form-field>
                        <input matInput formControlName="loanReceiptDate" [matDatepicker]="loanReceiptDate"
                          placeholder="Loan Receipt Date" required>
                        <mat-datepicker-toggle matSuffix [for]="loanReceiptDate">
                        </mat-datepicker-toggle>
                        <mat-datepicker #loanReceiptDate></mat-datepicker>
                        <div class="error-wrapper"
                          *ngIf="addDetailsForm.controls.loanReceiptDate.touched && addDetailsForm.controls.loanReceiptDate.errors">
                          <mat-error *ngIf="addDetailsForm.controls.loanReceiptDate.errors.required">
                            {{errorMessages.LOAN_RECEIPT_DATE}}
                          </mat-error>
                        </div>
                      </mat-form-field>
                    </div>

                    <div class="col-sm-3">
                      <mat-form-field>
                        <input matInput formControlName="loanAmount" placeholder="Loan Amount" required numbersOnly>
                        <div class="error-wrapper"
                          *ngIf="addDetailsForm.controls.loanAmount.touched && addDetailsForm.controls.loanAmount.errors">
                          <mat-error *ngIf="addDetailsForm.controls.loanAmount.errors.required">
                            {{errorMessages.LOAN_AMOUNT}}
                          </mat-error>
                        </div>
                      </mat-form-field>
                    </div>

                    <div class="col-sm-3">
                      <mat-form-field>
                        <input matInput formControlName="loanTenure" placeholder="Loan Tenure" decimalPoint1 required
                          numbersOnly>
                        <div class="error-wrapper"
                          *ngIf="addDetailsForm.controls.loanTenure.touched && addDetailsForm.controls.loanTenure.errors">
                          <mat-error *ngIf="addDetailsForm.controls.loanTenure.errors.required">
                            {{errorMessages.LOAN_TENURE}}
                          </mat-error>
                        </div>
                      </mat-form-field>
                    </div>

                    <div class="col-sm-3">
                      <mat-form-field>
                        <input matInput formControlName="moratoriumPeriod" placeholder="Moratorium Period" decimalPoint1
                          required numbersOnly>
                        <div class="error-wrapper"
                          *ngIf="addDetailsForm.controls.moratoriumPeriod.touched && addDetailsForm.controls.moratoriumPeriod.errors">
                          <mat-error *ngIf="addDetailsForm.controls.moratoriumPeriod.errors.required">
                            {{errorMessages.MORATORIUM_PERIOD}}
                          </mat-error>
                        </div>
                      </mat-form-field>
                    </div>

                    <div class="col-sm-3">
                      <mat-form-field>
                        <input matInput formControlName="rateOfInterest" placeholder="Rate of Interest(%)" decimalPoint1
                          required numbersOnly>
                        <div class="error-wrapper"
                          *ngIf="addDetailsForm.controls.rateOfInterest.touched && addDetailsForm.controls.rateOfInterest.errors">
                          <mat-error *ngIf="addDetailsForm.controls.rateOfInterest.errors.required">
                            {{errorMessages.RATE_OF_INTEREST}}
                          </mat-error>
                        </div>
                      </mat-form-field>
                    </div>
                  </div>

                </div>
              </div>
            </div> -->

      <!-- Loan Repaymant Schedule -->
      <!-- <div class="panel-group">
              <div class="box box-primary">
                <div class="box-header">Loan Repaymant Schedule</div>
                <div class="box-body">

                  <div class="row">

                    <div class="col-sm-12">
                      <div class="labelCSS">
                        Principal
                      </div>
                    </div>

                    <div class="col-sm-3">
                      <mat-form-field>
                        <input matInput formControlName="principalInstalmentsInYear"
                          placeholder="No. of Installments in a Year" required>
                        <div class="error-wrapper"
                          *ngIf="addDetailsForm.controls.principalInstalmentsInYear.touched && addDetailsForm.controls.principalInstalmentsInYear.errors">
                          <mat-error *ngIf="addDetailsForm.controls.principalInstalmentsInYear.errors.required">
                            {{errorMessages.NO_OF_INSTALLMENTS_IN_A_YEAR}}
                          </mat-error>
                        </div>
                      </mat-form-field>
                    </div>

                    <div class="col-sm-3">
                      <mat-form-field>
                        <input matInput formControlName="principalTotalNoOfInstalments"
                          placeholder="Total Number of Installments " required>
                        <div class="error-wrapper"
                          *ngIf="addDetailsForm.controls.principalTotalNoOfInstalments.touched && addDetailsForm.controls.principalTotalNoOfInstalments.errors">
                          <mat-error *ngIf="addDetailsForm.controls.principalTotalNoOfInstalments.errors.required">
                            {{errorMessages.TOTAL_NO_OF_INSTALLMENTS}}
                          </mat-error>
                        </div>
                      </mat-form-field>
                    </div>
                    <div class="col-sm-6"></div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="labelCSS">
                        Interest
                      </div>
                    </div>

                    <div class="col-sm-3">
                      <mat-form-field>
                        <input matInput formControlName="interestInstalmentsInYear"
                          placeholder="No. of Installments in a Year" required>
                        <div class="error-wrapper"
                          *ngIf="addDetailsForm.controls.interestInstalmentsInYear.touched && addDetailsForm.controls.interestInstalmentsInYear.errors">
                          <mat-error *ngIf="addDetailsForm.controls.interestInstalmentsInYear.errors.required">
                            {{errorMessages.NO_OF_INSTALLMENTS_IN_A_YEAR}}
                          </mat-error>
                        </div>
                      </mat-form-field>
                    </div>

                    <div class="col-sm-3">
                      <mat-form-field>
                        <input matInput formControlName="interestTotalNoOfInstalments"
                          placeholder="Total Number of Installments" required>
                        <div class="error-wrapper"
                          *ngIf="addDetailsForm.controls.interestTotalNoOfInstalments.touched && addDetailsForm.controls.interestTotalNoOfInstalments.errors">
                          <mat-error *ngIf="addDetailsForm.controls.interestTotalNoOfInstalments.errors.required">
                            {{errorMessages.TOTAL_NO_OF_INSTALLMENTS}}
                          </mat-error>
                        </div>
                      </mat-form-field>
                    </div>
                    <div class="col-sm-6"></div>


                  </div>


                </div>
              </div>
            </div>
          </form> -->

      <!-- Action Button -->
      <!-- <div class="form-action-button">
            <button type="submit" mat-raised-button color="primary" (click)="onSave()">
              <i class="material-icons " title="Save">save</i>
              Save</button>
            <button type="button" title="Cancel" mat-raised-button class="btnClose">
              <i class="material-icons " title="cancel">close</i>Cancel</button>
          </div>
        </mat-tab> -->
      <!-- Mat Tab for Attachments Ends -->
      <!-- </mat-tab-group> -->

    </form>

  </div>
</div>