<div class="container">
    <div class="form-wrapper">
      <div class="heading-section ng-star-inserted">
        <div>Claim Listing Send for Payment </div>
        <div class="font-heading"><strong>Reference Number:</strong> 19-20/DOI/HBA/CLSFP/001</div>
        <div class="font-heading"><strong>Reference Date:</strong> {{ todayDate | date: 'dd-MMM-yyyy HH:mm'}}
        </div>
      </div>
  
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item " aria-current="page">DOI / HBA </li>
          <li class="breadcrumb-item active" aria-current="page">Claim Listing Send for Payment</li>
        </ol>
      </nav>
      <div class="panel-group">
        <!-- Claim Listing Send for Payment  Form-->
  
        <form [formGroup]="claimListingSendForPaymentForm">
          <!-- Details of Deceased/Disabled -->
          <div class="box box-primary">
            <div class="box-header">Search</div>
            <div class="box-body">
  
              <div class="row">
  
                <!-- claim id -->
                <div class="col-sm-3">
                  <mat-form-field>
                    <input matInput formControlName="claimId" placeholder="Claim ID">
                  </mat-form-field>
                </div>
  
                <!-- policy no -->
                <div class="col-sm-3">
                  <mat-form-field class="full-width">
                    <mat-select formControlName="policyNo" placeholder="Policy No.">
                      <mat-option>
                        <ngx-mat-select-search [formControl]="policyNoCtrl" [placeholderLabel]="'Find Policy No....'"
                          [noEntriesFoundLabel]="'No matching Policy No. found'">
                        </ngx-mat-select-search>
                      </mat-option>
                      <mat-option>-- None --</mat-option>
                      <mat-option *ngFor="let item of policyNoList | filterSelectInput:policyNoCtrl.value"
                        [value]="item.value" matTooltip="{{item.viewValue}}">
                        {{item.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
  
                <div class="col-sm-3">
                  <mat-form-field class="full-width">
                    <mat-select formControlName="employeeName" placeholder="Employee Name">
                      <mat-option>
                        <ngx-mat-select-search [formControl]="employeeNameCtrl"
                          [placeholderLabel]="'Find Employee Name ...'"
                          [noEntriesFoundLabel]="'no matching Employee Name Typefound'">
                        </ngx-mat-select-search>
                      </mat-option>
                      <mat-option>-- None --</mat-option>
                      <mat-option *ngFor="let item of employeeNameList | filterSelectInput: employeeNameCtrl.value"
                        [value]="item.value" [matTooltip]="item.viewValue">
                        {{item.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
  
                <!-- District -->
                <div class="col-sm-3">
                  <mat-form-field class="full-width">
                    <mat-select formControlName="district" placeholder="District" (selectionChange)="selectDistrict()">
                      <mat-option>
                        <ngx-mat-select-search [formControl]="districtCtrl" [placeholderLabel]="'Find District...'"
                          [noEntriesFoundLabel]="'No matching District found'">
                        </ngx-mat-select-search>
                      </mat-option>
                      <mat-option>-- None --</mat-option>
                      <mat-option *ngFor="let item of districtList |
                      filterSelectInput:districtCtrl.value" [value]="item.value" matTooltip="{{item.viewValue}}">
                        {{item.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
  
                <!-- Taluka -->
                <div class="col-sm-3">
                  <mat-form-field>
                    <mat-select name='taluka' formControlName='taluka' placeholder='Taluka'>
                      <mat-option>
                        <ngx-mat-select-search [formControl]='talukaCtrl' [placeholderLabel]="'Select Taluka ...'"
                          [noEntriesFoundLabel]="'no matching Taluka found'">
                        </ngx-mat-select-search>
                      </mat-option>
                      <mat-option>-- None --</mat-option>
                      <mat-option *ngFor="let item of talukaNameList | filterSelectInput : talukaCtrl.value : 'viewValue'"
                        [value]="item.value" matTooltip="{{item.viewValue}}">
                        {{item.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
  
  
                <div class="col-sm-3">
                  <mat-form-field class="full-width">
                    <mat-select placeholder="Month" formControlName="month">
                      <mat-option>
                        <ngx-mat-select-search [formControl]="typeMonthCtrl" [placeholderLabel]="'Find Month...'"
                          [noEntriesFoundLabel]="'no matching Month found'">
                        </ngx-mat-select-search>
                      </mat-option>
                      <mat-option>-- None --</mat-option>
                      <mat-option *ngFor="
                      let year of month_list| filterSelectInput : typeMonthCtrl.value : 'viewValue'"
                        [value]="year.value">
                        {{ year.viewValue }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
  
                <div class="col-sm-3">
                  <mat-form-field class="full-width">
                    <mat-select placeholder="Year" formControlName="year">
                      <mat-option>
                        <ngx-mat-select-search [formControl]="typeOfYearCtrl" [placeholderLabel]="'Find Year...'"
                          [noEntriesFoundLabel]="'no matching Year found'">
                        </ngx-mat-select-search>
                      </mat-option>
                      <mat-option>-- None --</mat-option>
                      <mat-option *ngFor="let year of year_list | filterSelectInput : typeOfYearCtrl.value : 'viewValue'"
                        [value]="year.value">
                        {{ year.viewValue }}
                      </mat-option>
                    </mat-select>
  
                  </mat-form-field>
                </div>
  
                <!-- common button -->
                <div class="form-action-button">
                  <button type="submit" mat-raised-button color="primary">
                    <i class="material-icons" aria-hidden="true">search</i>
                    Search
                  </button>
  
                  <button type="reset" mat-raised-button color="accent">
                    <i class="material-icons" aria-hidden="true">
                      restore
                    </i>
                    Reset
                  </button>
                </div>
  
              </div>
            </div>
          </div>
        </form>
  
  
        <div class="mat-elevation-z8 row">
          <!-- Top schedule Entry Table -->
          <div class="col-sm-12 table-responsive overflow-x-auto">
            <div class="mat-elevation-z8 table-responsive mt-2">
  
              <table mat-table [dataSource]="dataSource" width="100%" matSort aria-describedby="listinginwardscreen">
  
                <ng-container matColumnDef="srNo">
                  <th mat-header-cell *matHeaderCellDef scope="row">Sr. No.</th>
                  <td mat-cell *matCellDef="let element; let i=index;" class="text-center">
                    {{ i + 1 }}
                  </td>
                </ng-container>
  
                <ng-container matColumnDef="claimId">
                  <th mat-header-cell *matHeaderCellDef scope="row">Claim ID</th>
                  <td mat-cell *matCellDef="let element">
                    {{element.claimId}}
                  </td>
                </ng-container>
  
                <ng-container matColumnDef="policyNo">
                  <th mat-header-cell *matHeaderCellDef scope="row">Policy No</th>
                  <td mat-cell *matCellDef="let element">
                    {{element.policyNo}}
                  </td>
                </ng-container>
  
                <ng-container matColumnDef="employeeName">
                  <th mat-header-cell *matHeaderCellDef scope="row">Employee Name</th>
                  <td mat-cell *matCellDef="let element">
                    {{element.employeeName}}
                  </td>
                </ng-container>
  
                <ng-container matColumnDef="officeName">
                  <th mat-header-cell *matHeaderCellDef scope="row">Office Name</th>
                  <td mat-cell *matCellDef="let element">
                    {{element.officeName}}
                  </td>
                </ng-container>
  
                <ng-container matColumnDef="riskCovered">
                  <th mat-header-cell *matHeaderCellDef scope="row">Risk Covered</th>
                  <td mat-cell *matCellDef="let element">
                    {{element.riskCovered}}
                  </td>
                </ng-container>
  
                <ng-container matColumnDef="propertyLocation">
                  <th mat-header-cell *matHeaderCellDef scope="row">Location Of Property</th>
                  <td mat-cell *matCellDef="let element">
                    {{element.propertyLocation}}
                  </td>
                </ng-container>
  
                <ng-container matColumnDef="inwardNo">
                  <th mat-header-cell *matHeaderCellDef scope="row">Inward No</th>
                  <td mat-cell *matCellDef="let element">
                    {{element.inwardNo}}
                  </td>
                </ng-container>
                <ng-container matColumnDef="createModeON">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">
                    Created on Date
  
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.createModeON }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="modifyModeON">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">
                    Modified On Date
  
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.modifyModeON }}
                  </td>
                </ng-container>
  
                <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef scope="row">Status</th>
                  <td mat-cell *matCellDef="let element">
                    {{element.status}}
                  </td>
                </ng-container>
  
                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef scope="row">Action</th>
                  <td mat-cell *matCellDef="let element; let i = index" class="action-btn-i centerAlign">
                    <a (click)="navigate()"><i class="material-icons plus view-icon" title="View"
                        aria-hidden="true">remove_red_eye</i></a>
                    <a [routerLink]="['../jpa/claim-note']"><i class="material-icons plus" aria-hidden="true"
                        title="Claim note">receipt</i></a>
                    <a [routerLink]="['../jpa/memorandum']"><i class="material-icons plus" aria-hidden="true"
                        title="Memorandum Letter">notes</i></a>
                  </td>
                </ng-container>
  
                <!-- Header Section Of table -->
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <!-- Data Fetch From .TS File to table -->
                <tr mat-row *matRowDef="let row; let i = index; columns: displayedColumns"></tr>
              </table>
  
              <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  
            </div>
          </div>
          <!-- End Top schedule Entry Table -->
          <!-- common button -->
          <div class="form-action-button">
  
            <button mat-raised-button type="submit" class="green"><i class="material-icons">
                done
              </i> Submit
            </button>
  
            <button type="reset" mat-raised-button color="accent">
              <i class="material-icons" aria-hidden="true">
                restore
              </i>
              Reset
            </button>
  
  
            <button type="button" mat-raised-button class="btnClose">
              <i class="material-icons" aria-hidden="true" title="Budget dashboard">
                close
              </i>
              Close
            </button>
          </div>
          <!-- End common button -->
  
        </div>
      </div>
    </div>
  </div>
