.header-wrapper {
    height: 50px;
    background-size: cover;
    box-shadow: 0px 0px 2px 2px #0404042b;
    display: flex;
    align-items: center;
    /* background: #be2fa6; */
    /* background:#3f51b5; */
    background-color: #356a94;
    position: fixed;
    width: 100%;
    left: 0px;
    top: 0px;
    z-index: 9;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    max-width: 20px;
}

.header-wrapper a {
    font-size: 20px;
    color: white !important;
    margin-left: 10px;
    line-height: 1;
}

.header-wrapper a:hover,
.header-wrapper a:focus {
    text-decoration: none;
}

.user-container i {
    color: white;
}

.hand-burger {
    margin-left: 15px;
    display: flex;
}

.hand-burger i {
    color: white;
    cursor: pointer;
    /* padding:5px; */
    margin-right: 0px;
}

.screen-heading {
    color: white;
}

.user-dropdown-list button {
    padding: 0px 5px;
    margin: 0px 5px;
    min-width: 35px;
}

.user-details {
    color: #fff;
    margin: auto;
}

.user-pic {
    padding: 10px 33px;
}

.user-container {
    display: flex;
    align-items: center;
}

.user-icon {
    background: #d6edff;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    margin: 0 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* border: 3px solid #d6edff; */
}

.user-icon i {
    color: #000;
    margin: 0px 0px 11px 0px;
}

::ng-deep .mat-menu-panel {
    position: absolute;
    right: 10px;
    top: 5px;
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    background: #f1f7fb;
}

::ng-deep .mat-menu-content {
    margin: 20px 15px;
}

::ng-deep button.mat-menu-item {
    border-top: 1px solid #e8eaed;
}

.user-detail {
    text-align: center;
}

.user-pic {
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.user-pic i {
    font-size: -webkit-xxx-large;
    height: 85px;
    width: 85px;
    background: #d6edff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-action {
    display: flex;
    justify-content: center;
}

.logout button {
    background-color: #ffffff;
    border: 1px solid #dadce0;
    border-radius: 4px;
    color: #3c4043;
    letter-spacing: 0.15px;
}

.setting-icon {
    justify-content: flex-end;
    display: flex;
    color: #356a94;
    cursor: pointer;
}

.user-name,
.user-action,
.logout {
    border-top: 1px solid #e8eaed;
    padding: 10px 5px;
}

.profile-btn,
.switchRole-btn {
    margin: 0 10px;
}

.profile-btn button,
.switchRole-btn button,
.logout button {
    background-color: #ffffff;
    border: 1px solid #dadce0;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    color: #3c4043;
    padding: 5px 16px;
    text-align: center;
    letter-spacing: 0.15px;
    white-space: nowrap;
}

.profile-btn button:hover,
.switchRole-btn button:hover,
.logout button:hover {
    background-color: #f7f8f8;
    -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 2px 6px 2px rgba(60, 64, 67, 0.15);
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 2px 6px 2px rgba(60, 64, 67, 0.15);
}

::ng-deep .mat-dialog-container {
    background: #f4f8ff;
}

::ng-deep .switchRoleContainer {
    border: 1px solid #dce6ef;
    display: table;
    background: #fff;
    border-radius: 4px;
    padding: 10px 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
}

::ng-deep .mat-dialog-actions {
    margin-bottom: 0px !important;
}

.title {
    color: grey;
    font-size: 14px;
    margin: 0;
}

.profileIcon {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 3px solid #d1e2ed;
}

.imgSrc {
    background: #d6edff;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    cursor: pointer;
    border: 3px solid #d6edff;
}

.imgSrc:hover {
    border: 3px solid #afc7da;
}

.mat-dialog-title {
    font-size: 14px;
}

.userData {
    color: gray;
    margin-right: 20px;
}

.scroll {
    height: 400px;
    overflow: auto;
}

.tableSpace {
    border-collapse: unset;
}

.post-name-switch-post {
    white-space: normal;
    max-width: 300px;
}

.office-name-switch-post {
    white-space: normal;
    max-width: 200px;
}

.user-icon,
.notification-icon {
    background: #d6edff;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    margin: 0 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #d6edff;
}
.notification-icon {
    position: relative;
}
.notification-icon i {
    color: #000;
}
.notification-number {
    position: absolute;
    background: #ff0000;
    width: 20px;
    right: -10px;
    top: -10px;
    padding: 1px;
    border-radius: 50%;
    font-size: 12px;
    height: 20px;
    text-align: center;
    color: #fff;
}

/* ::ng-deep .cdk-overlay-container >.cdk-global-overlay-wrapper >#cdk-overlay-1{ 
    height: 560px !important;
}

::ng-deep .cdk-overlay-container >.cdk-global-overlay-wrapper >.cdk-overlay-pane{ 
    height: 560px !important;
} */
