<div class="container">
    <div class="form-wrapper">
        <div class="heading-section ng-star-inserted">
            <div>Forgot Password</div>
        </div>
        <div>
            <form [formGroup]="forgotPasswordForm" *ngIf="!showChangePassword" autocomplete="off">
                <div class="row password-form-container">
                    <div class="col-sm-5 col-md-3 password-form">
                        <div class="text-center">
                            <div class="disinblick">
                                <mat-form-field>
                                    <input matInput numbersOnly minlength="10" maxlength="10" placeholder="Employee number" formControlName="userCode" au>
                                    <div class="error-wrapper"
                                        *ngIf="forgotPasswordForm.controls.userCode.touched && forgotPasswordForm.controls.userCode.errors">
                                        <mat-error *ngIf="forgotPasswordForm.controls.userCode.errors.required">
                                            {{errorMessages.USER_CODE}}
                                        </mat-error>
                                        <mat-error *ngIf="forgotPasswordForm.controls.userCode.errors.minlength">
                                            {{errorMessage.USERCODE}}
                                        </mat-error>
                                    </div>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="showCaptcha" class="col-sm-5 col-md-3 ">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="pl-0 col-sm-6 captcha-class" [id]="captcha.ans">
                                    <img [src]="imgsrc ? imgsrc : ''" alt="Captcha">
                                    <!-- <canvas id="captchaCanvasId" class="captcha-img" width="100%" height="50">
                                        Your browser does not support the HTML5 canvas tag.</canvas
                                    > -->
                                </div>
                                <div class="col-sm-4 captcha-count">
                                    <div class="row">
                                        <mat-form-field class="example-full-width">
                                            <input
                                                matInput
                                                type="text"
                                                placeholder="Enter captcha"
                                                formControlName="entrcaptcha"
                                                [maxlength]="captcha.length"
                                                autocomplete="off"
                                                required
                                            />
                                            <div class="error-wrapper">
                                                <mat-error *ngIf="userCodeError">
                                                    {{userCodeError}}
                                                </mat-error>
                                            </div>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <button
                                        class="refresh-captcha"
                                        type="button"
                                        mat-mini-fab
                                        (click)="loadNewCaptcha()"
                                        title="Refresh Captcha"
                                    >
                                        <i _ngcontent-grx-c3="" class="material-icons" title="Refresh Captcha">
                                            refresh
                                        </i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-action-button" *ngIf="!showOTPConfirmation">
                    <button mat-raised-button type="submit" class="green" (click)="onUserCodeSubmit()">
                        <i class="material-icons">
                            done
                        </i> Continue
                    </button>
                    <button type="button" mat-raised-button class="btnClose" [routerLink]="'/login'" skipLocationChange>
                        <i class="material-icons" title="Budget dashboard">close</i>
                        Login
                    </button>
                </div>
            </form>
            <form [formGroup]="otpConfirmationForm" #otpForm="ngForm" *ngIf="showOTPConfirmation && !showChangePassword">
                <div class="row password-form-container">
                    <div class="col-sm-5 col-md-3 password-form">
                        <div class="otp-info" *ngIf="otpMaskingData">
                            OTP has been sent to these :
                            <div>{{otpMaskingData.emailMask}}</div>
                            <div>{{otpMaskingData.mobileMask}}</div>
                        </div>
                        <div class="text-center">
                            <div class="disinblick">
                                <mat-form-field>
                                    <input matInput numbersOnly minlength="6" maxlength="6" placeholder="Please enter OTP" formControlName="otp">
                                    <div class="error-wrapper"
                                        *ngIf="otpConfirmationForm.controls.otp.touched && otpConfirmationForm.controls.otp.errors">
                                        <mat-error *ngIf="otpConfirmationForm.controls.otp.errors.required">
                                            {{errorMessages.OTP}}
                                        </mat-error>
                                        <mat-error *ngIf="otpConfirmationForm.controls.otp.errors.minlength">
                                            OTP must be at least 6 number long.
                                        </mat-error>
                                    </div>
                                </mat-form-field>
                                <div *ngIf="!showResentOTP" class="remaining-time">Time Remaining
                                    {{minuteTimer}} : {{secondsTimer}}</div>
                                    <div *ngIf="showResentOTP" class="resend-otp">
                                        <a (click)="onResendOTP(otpForm)" *ngIf="showResentOTP">Resend OTP</a>
                                    </div>
                            </div>
                            <div class="text-left">
                                <mat-error *ngIf="otpError">
                                    {{otpError}}
                                </mat-error>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-action-button">
                    <button mat-raised-button type="submit" class="green" (click)="onOTPSubmit()">
                        <i class="material-icons">
                            done
                        </i> Continue
                    </button>
                    <button type="button" mat-raised-button class="btnClose" [routerLink]="'/login'" skipLocationChange>
                        <i class="material-icons" title="Budget dashboard">close</i>
                        Login
                    </button>
                </div>
            </form>
            <app-change-password [withoutOldPass]="true" [userToken]="otpMaskingData.tokenHash" [isFromForgot]="true"
                *ngIf="showChangePassword"></app-change-password>
        </div>
    </div>
</div>