<app-employee-current-details [eventDetails]="eventDetails" [clearEmployeeDetails]="clearEmployeeCurrentDetails"
    [showExamDetails]="showExamDetails" [action]="action" [eventForm]="eventForm" [isRework]="isRework"
    (employeeDetailChange)="onEmployeeDetailsChange($event)" [clearExamDetails]="clearExamDetails">
</app-employee-current-details>
<form autocomplete="off" [formGroup]="postForm" *ngIf="postForm">
    <div class="box box-primary">
        <div class="box-header">{{title}}</div>
        <div class="box-body">
            <div class="row">
                <div class="col-sm-3" *ngIf="postForm.get('payBandId')">
                    <mat-form-field class="full-width">
                        <mat-select formControlName="payBandId" 
                        [placeholder]="isJudiciaryDepartment ? 'Pay Scale' : 'Pay Band'"  required
                            (selectionChange)="onPayBandChange()">
                            <mat-option>
                                <ngx-mat-select-search [formControl]="payBandCtrl"
                                [placeholderLabel]="isJudiciaryDepartment ? 'Find Pay Scale...' : 'Find Pay Band...'"
                                [noEntriesFoundLabel]="isJudiciaryDepartment ? 'no matching Pay Scale found' : 'no matching Pay Band found'">
                                </ngx-mat-select-search>
                            </mat-option>
                            <mat-option *ngIf="!isJudiciaryDepartment && (!payBandList || payBandList.length === 0)">
                                No Pay Band available
                            </mat-option>
                            <mat-option *ngIf="isJudiciaryDepartment && (!payBandList || payBandList.length === 0)">
                                No Pay Scale available
                            </mat-option>
                            <mat-option
                                *ngFor="let payBand of payBandList | filterSelectInput:payBandCtrl.value : 'payBandName'"
                                [value]="payBand.id">
                                {{payBand.payBandName}}
                            </mat-option>
                        </mat-select>
                        <div class="error-wrapper"
                            *ngIf="postForm.controls.payBandId.touched && postForm.controls.payBandId.errors">
                            <mat-error *ngIf="postForm.controls.payBandId.errors.required">
                                {{isJudiciaryDepartment ? errorMessage.SCALE : errorMessage.PAY_BAND }}</mat-error>
                        </div>
                    </mat-form-field>
                </div>
                <div class="col-sm-3" *ngIf="postForm.get('payBandValue')">
                    <mat-form-field class="full-width">
                        <input matInput type="number" [placeholder]="isJudiciaryDepartment ? 'Basic Pay' : 'Pay Band Value'" (change)="calculateBasicPay()"
                            formControlName="payBandValue" [disabled]="!postForm.get('payBandId').value" 
                            *ngIf="!isJudiciaryDepartment" readonly>
                        <input matInput type="text" numbersOnly [min]="fifthMin" [max]="fifthMax"
                            placeholder="Basic Pay" formControlName="payBandValue"
                            (blur)="onPayBandValueChange(postForm.get('payBandValue'))" required
                            *ngIf="isJudiciaryDepartment">
                        <div class="error-wrapper"
                            *ngIf="postForm.controls.payBandValue.touched && postForm.controls.payBandValue.errors && !isJudiciaryDepartment">
                            <mat-error *ngIf="postForm.controls.payBandValue.errors.required">
                                {{errorMessage.PAY_BAND_VALUE}}</mat-error>
                            <mat-error *ngIf="postForm.controls.payBandValue.errors.min">
                                {{errorMessage.PAY_BAND_MIN_MAX}}</mat-error>
                            <mat-error *ngIf="postForm.controls.payBandValue.errors.max">
                                {{errorMessage.PAY_BAND_MIN_MAX}}</mat-error>
                        </div>
                        <div class="error-wrapper"
                            *ngIf="postForm.controls.payBandValue.touched && postForm.controls.payBandValue.errors && isJudiciaryDepartment">
                            <mat-error *ngIf="postForm.controls.payBandValue.errors.required">
                                {{errorMessage.BASIC_PAY}}</mat-error>
                            <mat-error *ngIf="postForm.controls.payBandValue.errors.min">
                                {{errorMessage.BASIC_PAY_MIN + fifthMin}}!</mat-error>
                            <mat-error *ngIf="postForm.controls.payBandValue.errors.max">
                                {{errorMessage.BASIC_PAY_MAX + fifthMax}}!</mat-error>
                            <mat-error class="custom-mat-error"
                                *ngIf="postForm.controls.payBandValue.errors.wrongValue">
                                {{postForm.controls.payBandValue.errors.wrongValue}}</mat-error>
                        </div>
                    </mat-form-field>
                </div>
                <div class="col-sm-3" *ngIf="postForm.get('gradePayId') && !isJudiciaryDepartment">
                    <mat-form-field class="full-width">
                        <mat-select formControlName="gradePayId" (selectionChange)="calculateSixthBasicPayOnGrade()"
                            placeholder="Grade Pay" required>
                            <mat-option>
                                <ngx-mat-select-search [formControl]="gradePayCtrl"
                                    [placeholderLabel]="'Find Grade Pay...'"
                                    [noEntriesFoundLabel]="'no matching Grade Pay found'">
                                </ngx-mat-select-search>
                            </mat-option>
                            <mat-option *ngIf="!gradePayList || gradePayList.length === 0">
                                No Grade Pay available
                            </mat-option>
                            <mat-option
                                *ngFor="let gradePay of gradePayList | filterSelectInput:gradePayCtrl.value: 'gradePayValue'"
                                [value]="gradePay.id">
                                {{gradePay.gradePayValue}}
                            </mat-option>
                        </mat-select>
                        <div class="error-wrapper"
                            *ngIf="postForm.controls.gradePayId.touched && postForm.controls.gradePayId.errors">
                            <mat-error *ngIf="postForm.controls.gradePayId.errors.required">
                                {{errorMessage.GRADE_PAY}}</mat-error>
                        </div>
                    </mat-form-field>
                </div>
                <div class="col-sm-3" *ngIf="postForm.get('payLevelId')">
                    <mat-form-field class="full-width">
                        <mat-select formControlName="payLevelId" placeholder="Pay Level" required
                            (selectionChange)="onPayLevelChange()">
                            <mat-option>
                                <ngx-mat-select-search [formControl]="payLevelCtrl"
                                    [placeholderLabel]="'Find Cell Id...'"
                                    [noEntriesFoundLabel]="'no matching Pay Level found'">
                                </ngx-mat-select-search>
                            </mat-option>
                            <mat-option *ngIf="!payLevelList || payLevelList.length === 0">
                                No Pay Level available
                            </mat-option>
                            <mat-option
                                *ngFor="let payLevel of payLevelList | filterSelectInput:payLevelCtrl.value: 'payLevelValue'"
                                [value]="payLevel.id">
                                {{payLevel.payLevelValue}}
                            </mat-option>
                        </mat-select>
                        <div class="error-wrapper"
                            *ngIf="postForm.controls.payLevelId.touched && postForm.controls.payLevelId.errors">
                            <mat-error *ngIf="postForm.controls.payLevelId.errors.required">
                                {{errorMessage.PAY_LEVEL}}</mat-error>
                        </div>
                    </mat-form-field>
                </div>
                <div class="col-sm-3" *ngIf="postForm.get('cellId')">
                    <mat-form-field class="full-width">
                        <mat-select formControlName="cellId" placeholder="Cell Id" required>
                            <mat-option>
                                <ngx-mat-select-search [formControl]="cellIdCtrl"
                                    [placeholderLabel]="'Find Cell Id ...'"
                                    [noEntriesFoundLabel]="'no matching Cell Id found'">
                                </ngx-mat-select-search>
                            </mat-option>
                            <mat-option *ngIf="!cellList || cellList.length === 0">
                                No Cell Id available
                            </mat-option>
                            <mat-option
                                *ngFor="let cellId of cellList | filterSelectInput:cellIdCtrl.value : 'displayName'"
                                [value]="cellId.id">
                                {{cellId.cellId}}
                            </mat-option>
                        </mat-select>
                        <div class="error-wrapper"
                            *ngIf="postForm.controls.cellId.touched && postForm.controls.cellId.errors">
                            <mat-error *ngIf="postForm.controls.cellId.errors.required">
                                {{errorMessage.CELL_ID}}</mat-error>
                        </div>
                    </mat-form-field>
                </div>
                <div class="col-sm-3" *ngIf="postForm.get('scaleId')">
                    <mat-form-field class="full-width">
                        <mat-select formControlName="scaleId" placeholder="Scale" required
                            (selectionChange)="setFifthBasicParams()">
                            <mat-option>
                                <ngx-mat-select-search [formControl]="scaleCtrl" [placeholderLabel]="'Find Scale ...'"
                                    [noEntriesFoundLabel]="'no matching Scale found'">
                                </ngx-mat-select-search>
                            </mat-option>
                            <mat-option *ngIf="!scaleList || scaleList.length === 0">
                                No Scale available
                            </mat-option>
                            <mat-option [title]="scale.name"
                                *ngFor="let scale of scaleList | filterSelectInput:scaleCtrl.value : 'name'"
                                [value]="scale.id">
                                {{scale.name}}
                            </mat-option>
                        </mat-select>
                        <div class="error-wrapper"
                            *ngIf="postForm.controls.scaleId.touched && postForm.controls.scaleId.errors">
                            <mat-error *ngIf="postForm.controls.scaleId.errors.required">
                                {{errorMessage.SCALE}}</mat-error>
                        </div>
                    </mat-form-field>
                </div>
                <div class="col-sm-3"  *ngIf="!isJudiciaryDepartment">
                    <mat-form-field class="full-width" *ngIf="!isFifth">
                        <input matInput type="text" placeholder="Basic Pay" formControlName="basicPay" readonly>
                    </mat-form-field>
                    <mat-form-field class="full-width" *ngIf="isFifth">
                        <input matInput type="text" numbersOnly [min]="fifthMin" [max]="fifthMax"
                            placeholder="Basic Pay" formControlName="basicPay" (blur)="calculateFifthBasic(postForm.get('basicPay'))" required
                            [readonly]="currentPayscaleSelected.length === 0">
                        <div class="error-wrapper"
                            *ngIf="postForm.controls.basicPay.touched && postForm.controls.basicPay.errors">
                            <mat-error *ngIf="postForm.controls.basicPay.errors.required">
                                {{errorMessage.BASIC_PAY}}</mat-error>
                            <mat-error *ngIf="postForm.controls.basicPay.errors.min">
                                {{errorMessage.BASIC_PAY_MIN + fifthMin}}!</mat-error>
                            <mat-error *ngIf="postForm.controls.basicPay.errors.max">
                                {{errorMessage.BASIC_PAY_MAX + fifthMax}}!</mat-error>
                            <mat-error class="custom-mat-error" *ngIf="postForm.controls.basicPay.errors.wrongValue">
                                {{postForm.controls.basicPay.errors.wrongValue}}</mat-error>
                        </div>
                    </mat-form-field>
                </div>
                <div class="col-sm-3" *ngIf="postForm.get('personalPay')">
                    <mat-form-field class="full-width">
                        <input matInput type="text" numbersOnly placeholder="Personal Pay" formControlName="personalPay"
                            [readonly]="!isFifth" [required]="isFifth">
                        <div class="error-wrapper"
                            *ngIf="postForm.controls.personalPay.touched && postForm.controls.personalPay.errors">
                            <mat-error *ngIf="postForm.controls.personalPay.errors.required">
                                Please enter Personal Pay!</mat-error>
                        </div>
                    </mat-form-field>
                </div>
                <div class="col-sm-3">
                    <mat-form-field>
                        <input matInput [matDatepicker]="dateOfNextIncrement1" placeholder="Date of Next Increment"
                            formControlName="dateOfNextIncrement" readonly>
                        <mat-datepicker-toggle matSuffix [for]="dateOfNextIncrement1" disabled>
                        </mat-datepicker-toggle>
                        <mat-datepicker #dateOfNextIncrement1></mat-datepicker>
                        <div class="error-wrapper"
                            *ngIf="postForm.controls.dateOfNextIncrement.touched && postForm.controls.dateOfNextIncrement.errors">
                            <mat-error *ngIf="postForm.controls.dateOfNextIncrement.errors.required">
                                {{errorMessage.DATE_OF_NEXT_INCREMENT}}</mat-error>
                        </div>
                    </mat-form-field>
                </div>
                <div class="col-sm-3" *ngIf="postForm.get('benefitEffectiveDate')">
                    <mat-form-field>
                        <input matInput [matDatepicker]="eventEffectiveDate2" placeholder="Event Effective Date"
                            formControlName="benefitEffectiveDate"  readonly>
                        <mat-datepicker-toggle matSuffix [for]="eventEffectiveDate2">
                        </mat-datepicker-toggle>
                        <mat-datepicker #eventEffectiveDate2></mat-datepicker>
                        <div class="error-wrapper"
                            *ngIf="postForm.controls.benefitEffectiveDate.touched && postForm.controls.benefitEffectiveDate.errors">
                            <mat-error *ngIf="postForm.controls.benefitEffectiveDate.errors.required">
                                {{errorMessage.EVENT_EFFECTIVE_DATE}}
                            </mat-error>
                        </div>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
    <div class="form-action-button"
        *ngIf="(!eventDetails || (eventDetails && (eventDetails.statusId === 205 || eventDetails.statusId === 0))) && action !== 'view'">
        <button type="button" mat-raised-button color="primary" (click)="saveDetails()">
            <i class="material-icons" title="Save">
                save
            </i>
            Save as Draft
        </button>
        <button type="button" mat-raised-button color="accent" (click)="resetForm()">
            <i class="material-icons">
                restore
            </i>
            Reset
        </button>
    </div>
</form>