<div class="container">
    <div class="form-wrapper">
        <div class="heading-section ng-star-inserted">
            <div>{{'PVU.UserCreation.lblScreenName' | l10n}}</div>
        </div>
        <div class="panel-group">
            <div class="box-top">
                <div class="box-body">
                    <form [formGroup]="userCreationForm">
                        <div class="box box-primary">
                            <div class="box-body">
                                <div class="accordionSection">
                                    <div class="box-header">{{'PVU.UserCreation.lblBoxHeader1' | l10n}}</div>
                                    <div class="box-body">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <mat-form-field class="full-width">
                                                    <input matInput formControlName="district"
                                                        placeholder="{{'PVU.UserCreation.lblDistrict' | l10n}}"
                                                        readonly>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-sm-3">
                                                <mat-form-field class="full-width">
                                                    <input matInput numbersOnly formControlName="ddoNo"
                                                        placeholder="{{'PVU.UserCreation.lblDdoNo' | l10n}}" readonly>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-sm-3">
                                                <mat-form-field class="full-width">
                                                    <input matInput formControlName="cardexNo"
                                                        placeholder="{{'PVU.UserCreation.lblCardexNo' | l10n}}"
                                                        readonly>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-sm-3">
                                                <mat-form-field class="full-width">
                                                    <input matInput type="text" formControlName="officeName"
                                                        placeholder="{{'PVU.UserCreation.lblOfficeName' | l10n}}"
                                                        readonly>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordionSection">
                                    <div class="box-header">{{'PVU.UserCreation.lblBoxHeader2' | l10n}}</div>
                                    <div class="box-body">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <mat-form-field class="full-width">
                                                    <mat-select formControlName="empPayTypeId"
                                                        (selectionChange)="empTypeChange('empPayTypeId')"
                                                        placeholder="{{'PVU.UserCreation.lblEmployeePayType' | l10n}}"
                                                        required
                                                        [title]="getTitleName(userCreationForm, empPayTypeList, 'empPayTypeId', 'id', 'name')">
                                                        <mat-option>
                                                            <ngx-mat-select-search [formControl]="empTypeCtrl"
                                                                [placeholderLabel]="'Find Employee Pay Type ...'"
                                                                [noEntriesFoundLabel]="'no matching Employee Pay Type  found'">
                                                            </ngx-mat-select-search>
                                                        </mat-option>
                                                        <mat-option [title]="empType.name"
                                                            *ngFor="let empType of empPayTypeList | filterSelectInput: empTypeCtrl.value: 'name'"
                                                            [value]="empType.id">
                                                            {{empType.name}}
                                                        </mat-option>
                                                    </mat-select>
                                                    <error-messages
                                                        [errorMessages]="{'required': errorMessages.EMP_PAY_TYPE}"
                                                        [control]="userCreationForm.get('empPayTypeId')">
                                                    </error-messages>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-sm-3" *ngIf="showCaseNo">
                                                <mat-form-field class="full-width">
                                                    <input matInput numbersOnly name="caseNo" formControlName="caseNo"
                                                        maxlength="13"
                                                        placeholder="{{'PVU.UserCreation.lblCaseNumber' | l10n}}"
                                                        (keypress)="onEmployeeKeyUp($event)"
                                                        (keydown.Tab)="onEmployeeKeyUp($event)"
                                                        [readonly]="(!isSaveDraftVisible) || btnSave"
                                                        [required]="userCreationForm.get('empPayTypeId').value === 156">
                                                    <mat-icon matSuffix (click)="onEmployeeKeyUp({keyCode: 'search'})" style="cursor: pointer;">search
                                                    </mat-icon>
                                                    <error-messages
                                                        [errorMessages]="{'required': errorMessages.CASE_NO_INVALID}"
                                                        [control]="userCreationForm.get('caseNo')">
                                                    </error-messages>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <mat-form-field class="full-width">
                                                    <mat-select formControlName="salutationId"
                                                        placeholder="{{'PVU.UserCreation.lblSalutation' | l10n}}"
                                                        [title]="getTitleName(userCreationForm, salutationList, 'salutationId', 'id', 'name')"
                                                        required>
                                                        <mat-option>
                                                            <ngx-mat-select-search [formControl]="salutationCtrl"
                                                                [placeholderLabel]="'Find Salutation...'"
                                                                [noEntriesFoundLabel]="'no matching Salutation found'">
                                                            </ngx-mat-select-search>
                                                        </mat-option>
                                                        <mat-option [title]="salutation.name"
                                                            *ngFor="let salutation of salutationList | filterSelectInput: salutationCtrl.value: 'name'"
                                                            [value]="salutation.id">
                                                            {{salutation.name}}
                                                        </mat-option>
                                                    </mat-select>
                                                    <error-messages [errorMessages]="{'required': errorMessages.SALUTATION}" 
                                                    [control]="userCreationForm.get('salutationId')">
                                                    </error-messages>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-sm-3">
                                                <mat-form-field class="full-width">
                                                    <input matInput type="text"
                                                        placeholder="{{'PVU.UserCreation.lblEmployeeFirstName' | l10n}}"
                                                        formControlName="empFirstName" alphabetWithSpaceOnly uppercase
                                                        maxlength="50" required>
                                                    <error-messages
                                                        [errorMessages]="{'required': errorMessages.EMPLOYEE_NAME}"
                                                        [control]="userCreationForm.get('empFirstName')">
                                                    </error-messages>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-sm-3">
                                                <mat-form-field class="full-width">
                                                    <input matInput type="text"
                                                        placeholder="{{'PVU.UserCreation.lblMiddleName' | l10n}}"
                                                        alphabetWithSpaceOnly maxlength="50"
                                                        formControlName="empMiddleName" uppercase>
                                                    <error-messages [control]="userCreationForm.get('empMiddleName')">
                                                    </error-messages>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-sm-3">
                                                <mat-form-field class="full-width">
                                                    <input matInput type="text"
                                                        placeholder="{{'PVU.UserCreation.lblLastName' | l10n}}"
                                                        maxlength="50" alphabetWithSpaceOnly
                                                        formControlName="empLastName" uppercase>
                                                    <error-messages [control]="userCreationForm.get('empLastName')">
                                                    </error-messages>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-sm-3">
                                                <mat-form-field class="full-width">
                                                    <mat-select formControlName="designationId"
                                                        placeholder="{{'PVU.UserCreation.lblDesignation' | l10n}}"
                                                        required
                                                        [title]="getTitleName(userCreationForm, empDesignationList, 'designationId', 'designationId', 'designationName')">
                                                        <mat-option>
                                                            <ngx-mat-select-search [formControl]="empDesignationCtrl"
                                                                [placeholderLabel]="'Find Designation...'"
                                                                [noEntriesFoundLabel]="'no matching Designation found'">
                                                            </ngx-mat-select-search>
                                                        </mat-option>
                                                        <mat-option [title]="designationId.designationName"
                                                            *ngFor="let designationId of empDesignationList | filterSelectInput: empDesignationCtrl.value : 'designationName'"
                                                            [value]="designationId.designationId">
                                                            {{designationId.designationName}}
                                                        </mat-option>
                                                    </mat-select>
                                                    <error-messages
                                                        [errorMessages]="{'required': errorMessages.DESIGNATION}"
                                                        [control]="userCreationForm.get('designationId')">
                                                    </error-messages>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-sm-3">
                                                <mat-form-field>
                                                    <input matInput formControlName="dateOfBirth" (dateChange)="dobOnChange($event)"
                                                        [matDatepicker]="dateOfBirth" [min]="minDob" [max]="maxDate"
                                                        placeholder="{{'PVU.UserCreation.lblDateOfBirth' | l10n}}"
                                                        required readonly>
                                                    <mat-datepicker-toggle matSuffix [for]="dateOfBirth">
                                                    </mat-datepicker-toggle>
                                                    <mat-datepicker [startAt]="" #dateOfBirth></mat-datepicker>
                                                    <error-messages
                                                        [errorMessages]="{'required': errorMessages.DATE_OF_BIRTH}"
                                                        [control]="userCreationForm.get('dateOfBirth')">
                                                    </error-messages>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-sm-3">
                                                <mat-form-field class="full-width">
                                                    <input matInput type="text"
                                                        placeholder="{{'PVU.UserCreation.lblPanNo' | l10n}}"
                                                        formControlName="panNo" required MaxLength="10"
                                                        (keyup)="convertUppercase($event)"
                                                        (blur)="checkDuplicatePAN($event)">
                                                    <mat-icon
                                                        *ngIf="!userCreationForm.get('panNo').errors && duplicatePanNo"
                                                        (click)="redirectViewPanDetail()" matSuffix>info</mat-icon>
                                                    <error-messages [errorMessages]="{'required': errorMessages.PAN_NO}"
                                                        [control]="userCreationForm.get('panNo')"></error-messages>
                                                    <div class="error-wrapper" *ngIf="duplicatePanNo">
                                                        <mat-error>{{duplicateMessage}}</mat-error>
                                                    </div>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-sm-3">
                                                <mat-form-field class="full-width">
                                                    <input matInput type="text" maxlength="10" placeholder="Mobile No"
                                                        (keypress)="decimalKeyPress($event)" formControlName="mobileNo"
                                                        [mask]="mobNoMask" [hiddenInput]="true" required>
                                                    <error-messages
                                                        [errorMessages]="{'required': errorMessages.EMPLOYEE_MOBILENO}"
                                                        [control]="userCreationForm.get('mobileNo')"></error-messages>
                                                </mat-form-field>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="form-action-button">
                        <button mat-raised-button type="button" class="green" (click)="onSubmitDetails()"
                            [disabled]="!isSubmitBtnVisible">
                            <i class="material-icons">
                                done </i> {{'btnSubmit' | l10n}}
                        </button>
                        <button type="button" mat-raised-button color="warn" (click)="goToListing()"
                            *ngIf="!dialogOpen">
                            <i class="material-icons" aria-hidden="true" title="Listing">list</i>
                            {{'btnList' | l10n}}
                        </button>
                        <button type="button" mat-raised-button class="btnClose" (click)="goToDashboard()">
                            <i class="material-icons" title="Close">close</i> {{'btnClose' | l10n}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>