<div class="container">
    <div class="form-wrapper">
        <div class="heading-section ng-star-inserted">
            <div>Branch Mapping & Transfer - Listing</div>
        </div>

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">EDP</a></li>
                <li class="breadcrumb-item active" aria-current="page">Branch Mapping & Transfer - Listing</li>
            </ol>
        </nav>

        <form [formGroup]="branchMappingAndTransferListingForm">
            <mat-accordion class="search-accordian">
                <mat-expansion-panel [expanded]="true">
                    <mat-expansion-panel-header>
                        <div class="heading-section">
                            Search
                        </div>
                    </mat-expansion-panel-header>
                    <div class="box-body">
                        <div class="row">
                            <!-- Reference Number -->
                            <div class="col-sm-3">
                                <mat-form-field>
                                    <input matInput formControlName="trnNo" placeholder="Reference Number" />
                                </mat-form-field>
                            </div>

                            <!-- Reference From Date -->
                            <div class="col-sm-3">
                                <mat-form-field>
                                    <input
                                        matInput
                                        [matDatepicker]="fromDate"
                                        formControlName="fromDate"
                                        [max]="config.dates.to.max"
                                        placeholder="Reference From Date"
                                        (dateChange)="resetToDate()"
                                    />
                                    <mat-datepicker-toggle matSuffix [for]="fromDate"> </mat-datepicker-toggle>
                                    <mat-datepicker #fromDate></mat-datepicker>
                                </mat-form-field>
                            </div>

                            <!-- Reference To Date -->
                            <div class="col-sm-3">
                                <mat-form-field>
                                    <input
                                        matInput
                                        [matDatepicker]="toDate"
                                        formControlName="toDate"
                                        placeholder="Reference To Date"
                                        [min]="config.dates.to.min"
                                        [max]="config.dates.to.max"
                                    />
                                    <mat-datepicker-toggle matSuffix [for]="toDate"> </mat-datepicker-toggle>
                                    <mat-datepicker #toDate></mat-datepicker>
                                </mat-form-field>
                            </div>

                            <!-- Employee Number -->
                            <div class="col-sm-3">
                                <mat-form-field>
                                    <input
                                        matInput
                                        formControlName="employeeNo"
                                        placeholder="Employee Number"
                                        numbersOnly
                                        maxlength="10"
                                    />
                                </mat-form-field>
                            </div>

                            <!-- Employee Name -->
                            <div class="col-sm-3">
                                <mat-form-field>
                                    <input
                                        matInput
                                        formControlName="employeeName"
                                        placeholder="Employee Name"
                                        charactersOnly
                                        maxlength="10"
                                    />
                                </mat-form-field>
                            </div>

                            <!-- Transaction Status -->
                            <div class="col-sm-3">
                                <mat-form-field>
                                    <mat-select formControlName="statusId" placeholder="Transaction Status">
                                        <mat-option>
                                            <ngx-mat-select-search
                                                [formControl]="config.statusCtrl"
                                                [placeholderLabel]="'Find Transaction Status ...'"
                                                [noEntriesFoundLabel]="'no matching Transaction Status found'"
                                            >
                                            </ngx-mat-select-search>
                                        </mat-option>
                                        <mat-option>
                                            {{ config.matSelectNullValue }}
                                        </mat-option>
                                        <mat-option
                                            *ngFor="
                                                let status of config.status.list
                                                    | filterSelectInput: config.statusCtrl.value:'name'
                                            "
                                            [value]="status.id"
                                        >
                                            {{ status.name }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <!-- Requst Type -->
                            <div class="col-sm-3">
                                <mat-form-field>
                                    <mat-select formControlName="requestType" placeholder="Request Type">
                                        <mat-option>
                                            <ngx-mat-select-search
                                                [formControl]="config.requestTypeCtrl"
                                                [placeholderLabel]="'Find Request Type ...'"
                                                [noEntriesFoundLabel]="'no matching Request Type found'"
                                            >
                                            </ngx-mat-select-search>
                                        </mat-option>
                                        <mat-option>
                                            {{ config.matSelectNullValue }}
                                        </mat-option>
                                        <mat-option
                                            *ngFor="
                                                let requestType of config.requestType.list
                                                    | filterSelectInput: config.requestTypeCtrl.value:'name'
                                            "
                                            [value]="requestType.id"
                                        >
                                            {{ requestType.name }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div class="form-action-button">
                        <button type="button" (click)="onSearchClick()" mat-raised-button color="primary">
                            <i class="material-icons">search</i>
                            Search
                        </button>
                        <button type="button" mat-raised-button color="accent" (click)="reset()">
                            <i class="material-icons">
                                restore
                            </i>
                            Reset
                        </button>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>

            <!-- branchMappingAndTransfer table  Starts -->
            <div *ngIf="config.hasDoneFilter" class="mat-elevation-z8 mt-2 overflow-auto no-wrap-table">
                <table
                    mat-table
                    [dataSource]="branchMappingAndTransferDataSource"
                    matSort
                    aria-describedby="branchMappingAndTransferTable"
                >
                    <!-- Position Column -->
                    <ng-container matColumnDef="position">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef scope="row" class="srnowidth">Sr No.</th>
                        <td mat-cell *matCellDef="let element; let i = index" class="centerAlign">  {{ (paginator.pageIndex  * paginator.pageSize) + i + 1 }}</td>
                    </ng-container>

                    <!-- Reference Number Column -->
                    <ng-container matColumnDef="refNo">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef scope="row">Reference Number</th>
                        <td mat-cell *matCellDef="let element; let i = index" class="centerAlign">
                            {{ element.refNo }}
                        </td>
                    </ng-container>

                    <!-- Reference Date Column -->
                    <ng-container matColumnDef="refDate">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef scope="row">Reference Date</th>
                        <td mat-cell *matCellDef="let element; let i = index" class="centerAlign">
                            {{ element.refDate | date: 'dd-MMM-yyyy HH:mm' }}
                        </td>
                    </ng-container>

                    <!-- District Column -->
                    <ng-container matColumnDef="districtName">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef scope="row">District</th>
                        <td mat-cell *matCellDef="let element; let i = index" class="centerAlign">
                            {{ element.districtName }}
                        </td>
                    </ng-container>

                    <!-- DDO No. Column -->
                    <ng-container matColumnDef="ddoNo">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef scope="row">DDO No.</th>
                        <td mat-cell *matCellDef="let element; let i = index" class="centerAlign">
                            {{ element.ddoNo }}
                        </td>
                    </ng-container>

                    <!-- Cardex No. Column -->
                    <ng-container matColumnDef="cardexNo">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef scope="row">Cardex No.</th>
                        <td mat-cell *matCellDef="let element; let i = index" class="centerAlign">
                            {{ element.cardexNo }}
                        </td>
                    </ng-container>

                    <!-- Office Name Column -->
                    <ng-container matColumnDef="ddoOffice">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef scope="row">Office Name</th>
                        <td mat-cell *matCellDef="let element; let i = index" class="centerAlign">
                            {{ element.ddoOffice }}
                        </td>
                    </ng-container>

                    <!-- Request Type Column -->
                    <ng-container matColumnDef="requestType">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef scope="row">Request Type</th>
                        <td mat-cell *matCellDef="let element; let i = index" class="centerAlign">
                            {{ element.requestType }}
                        </td>
                    </ng-container>

                    <!-- From Employee Number Column -->
                    <ng-container matColumnDef="fromEmployeeNo">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef scope="row">From Employee Number</th>
                        <td mat-cell *matCellDef="let element; let i = index">
                            {{ element.fromEmployeeNo }}
                        </td>
                    </ng-container>

                    <!-- From Post Name Column -->
                    <ng-container matColumnDef="fromPostName">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef scope="row">From Post Name</th>
                        <td mat-cell *matCellDef="let element; let i = index">
                            {{ element.fromPostName }}
                        </td>
                    </ng-container>

                    <!-- To Employee Number Column -->
                    <ng-container matColumnDef="toEmployeeNo">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef scope="row">To Employee Number</th>
                        <td mat-cell *matCellDef="let element; let i = index">
                            {{ element.toEmployeeNo }}
                        </td>
                    </ng-container>

                    <!-- To Post Name Column -->
                    <ng-container matColumnDef="toPostName">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef scope="row">To Post Name</th>
                        <td mat-cell *matCellDef="let element; let i = index">
                            {{ element.toPostName }}
                        </td>
                    </ng-container>

                    <!-- Lying with Column -->
                    <ng-container matColumnDef="lyingWith">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef scope="row">Lying with</th>
                        <td mat-cell *matCellDef="let element; let i = index">
                            {{ element.lyingWith }}
                        </td>
                    </ng-container>

                    <!-- Transaction Status Column -->
                    <ng-container matColumnDef="status">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef scope="row">Transaction Status</th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.status }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="noData">
                        <th mat-header-cell *matHeaderCellDef scope="row"></th>
                        <td mat-cell *matCellDef="let element" colspan="15" class="centerAlign">
                            {{ element.noData }}
                        </td>
                    </ng-container>
                    <!-- action Column -->
                    <ng-container matColumnDef="action">
                        <th mat-header-cell mat-sort-header class="actionwidth" *matHeaderCellDef scope="row">Action</th>
                        <td mat-cell *matCellDef="let element; let i = index" class="action-btn-i centerAlign">
                            <table class="iconTable" aria-describedby="actionBtn">
                                <tbody>
                                    <tr>
                                        <td width="30">
                                            <i
                                                class="material-icons plus edit-icon"
                                                aria-hidden="true"
                                                title="Edit"
                                                (click)="onEditClick(element.tedpBrHdrId)"
                                                *ngIf="element.status !== 'Approved'"
                                            >
                                                edit
                                            </i>
                                        </td>
                                        <td width="30">
                                            <i
                                                class="material-icons plus view-icon"
                                                title="View"
                                                (click)="onViewClick(element.tedpBrHdrId)"
                                                aria-hidden="true"
                                                >remove_red_eye</i
                                            >
                                        </td>
                                        <td width="30">
                                            <i
                                                class="material-icons plus edit-icon"
                                                title="Delete"
                                                aria-hidden="true"
                                                (click)="onDeleteClick(element.tedpBrHdrId)"
                                                *ngIf="element.status !== 'Approved'"
                                            >
                                                delete
                                            </i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="config.branchMappingTransferColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: config.branchMappingTransferDisplayedRows"></tr>
                </table>

                <mat-paginator
                    #paginator
                    [pageSize]="config.pagination.pageSize"
                    [pageSizeOptions]="config.pagination.pageSizeOptions"
                    (page)="onPaginateChange($event)"
                    [length]="config.totalRecords"
                    showFirstLastButtons
                ></mat-paginator>
            </div>

            <!-- branchMappingAndTransfer table Ends -->

            <!-- Action Buttons Starts -->
            <div class="form-action-button">
                <button type="button" mat-raised-button class="btnClose" title="Close" (click)="onClose()">
                    <i class="material-icons" title="Close" aria-hidden="true">
                        close
                    </i>
                    Close
                </button>
            </div>
            <!-- Action Buttons Ends -->
        </form>
    </div>
</div>
