<table mat-table [dataSource]="dataSourceBrowse" width="100%" id="browseTable">
    <ng-container matColumnDef="attachmentTypeId">
        <th mat-header-cell *matHeaderCellDef>Attachment Type</th>
        <td mat-cell *matCellDef="let item;let i = index;">
            <mat-select placeholder="Attachment Type" [disabled]="item.attachmentId != 0 || submitted" #singleSelect1 required [(ngModel)]="item.attachmentTypeId" (selectionChange)="onSupportingDocValueCHange()">
                <mat-option>
                    <ngx-mat-select-search [formControl]="attachmentTypeCtrl"
                        [placeholderLabel]="'Find Attachment Type...'"
                        [noEntriesFoundLabel]="'no matching Attachment Type found'">
                    </ngx-mat-select-search>
                </mat-option>

                <mat-option *ngFor="let attachment of attachment_type_list | filterSelectInput : attachmentTypeCtrl.value : 'viewValue'" [value]="attachment.value">
                    {{attachment.viewValue}}
                </mat-option>
            </mat-select>
        </td>
    </ng-container>
    <ng-container matColumnDef="fileName">
        <th mat-header-cell *matHeaderCellDef>File name</th>
        <td mat-cell *matCellDef="let item">
            <mat-form-field floatLabel="never" *ngIf="item.attachmentId == 0 && !submitted">
                <textarea matInput rows="2" maxlength="200" [(ngModel)]="item.fileName" (change)="onFileNameChange()"></textarea>
            </mat-form-field>
            <div *ngIf="item.attachmentId != 0 || submitted" >{{item.fileName}}</div>
        </td>
    </ng-container>
    <ng-container matColumnDef="browse">
        <th mat-header-cell *matHeaderCellDef>
            <div style="display: flex; align-items: center; justify-content: center">
                <div style="display: inline-flex">Browse</div>
                <div class="info-container">
                    <i class="material-icons info-tooltip">
                        info
                    </i>
                    <span class="info-tooltip-content">
                        - File size should be under 2MB<br>
                        - File type supported are: 'jpg', 'jpeg', 'png', 'docx', 'doc', 'pdf', 'xls', 'xlsx', 'JPG',
                        'JPEG', 'PNG',
                        'DOCX', 'DOC', 'PDF', 'XLS', 'XLSX'
                    </span>
                </div>
            </div>
        </th>
        <td mat-cell *matCellDef="let item;let i = index" class="centerAlign">
            <button type="button"  *ngIf="item.attachmentId == 0 && !submitted" (click)="openFileSelector(i)" class="btn-browse">Browse
                Files</button>
        </td>
    </ng-container>
    <ng-container matColumnDef="uploadedFileName">
        <th mat-header-cell *matHeaderCellDef>Uploaded file name</th>
        <td mat-cell *matCellDef="let item">
            <span *ngIf="item.file && item.file.name && item.attachmentId ==0">{{item.file.name}}</span>
            <span *ngIf="item.attachmentId !=0"><a href="javascript:void(0)"
                    (click)="downloadAttachFile(item)">{{item.uploadedFileName}}</a></span>
        </td>
    </ng-container>
    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let item; let i = index">
            <table class="iconTable">
                <tbody>
                    <tr>
                        <td width="30" class="rightAlign">
                            <i class="material-icons plus delete"
                                *ngIf="dataSourceBrowse && dataSourceBrowse.data && dataSourceBrowse.data.length > 1 && !submitted"
                                (click)="deleteBrowse(i,item)">
                                delete
                            </i>
                        </td>
                        <td width="30">
                            <i class="material-icons plus"
                                *ngIf="dataSourceBrowse && dataSourceBrowse.data && (i == dataSourceBrowse.data.length - 1) && !submitted"
                                (click)="addBrowse()">
                                add
                            </i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedBrowseColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedBrowseColumns;"></tr>
</table>
<input type="file" id="fileBrowse" style="visibility: hidden;" (change)="onFileSelection($event)" />